main.css
print.css
boblog
bob.log
node_modules
web/build
.vscode
package-lock.json
web/*.html
/bin/
logs
build-lib
my-loop.jar
config/version.properties
web/green/index.html
web/*.html
web/charity
.DS_Store
playwright-report
/target/
