.impactOverview-filters-and-account{
    display: flex;
    justify-content: space-between;
    height: 10vh; // manually set, design shows bottom of this bar should align with bottom of logo which is at a constant static height.
    flex-grow: 1;
    background-color: white;

    #filters {
        position: relative;
        display: flex;
        padding-left: 15px;

        .filter-row {
            background: none;
            border: none;

            font-weight: 600;
            font-family: 'Montserrat';
            font-size: x-large;
            color: rgb(64, 64, 64); // colour taken directly from design
            outline: none !important;
        }

        .filter-down-arrow {
            background-image: url("/img/icons/HEART ICON.png");
        }
    }

    #impact-overview-accounts {
        position: relative;
        display: flex;

        .impact-topbar-icon {
            // ensure size is constant - important for keeping the sliding animation fron screwing up
            width: 3.5em;
            height: 3.5em;
            min-width: 3.5em;
            min-height: 3.5em;
            margin-right: 1em;
    
            border-radius: 50%; // turn into circle
    
            background-color: white;
            background-size: contain; // icons are too big by default, resize them
    
            // vertically center
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            &.account-icon {
                background-image: url("/img/icons/HEART ICON.png");
            }
            &.back-icon{
                background-image: url("/img/icons/HEART ICON.png");
            }
        }
    }
}

// hide "in-page" filters when on mobile
#impactOverview-filters-and-account-mobile {
    @media @md-min {
        display: none !important;
    }
}

// hide above navbar filters when on desktop
#impactOverview-filters-and-account-desktop {
    @media (max-width: 768px) {
        display: none !important;
    }
}

// the actual content when the filter is open
#filter-modal-container {

    // button containing brand and its campaings
    .filter-button {
        border-radius: 0;
        border: none;
        box-shadow: none;
        padding: 0;
        background-color: rgb(212, 212, 212);
    }

    // container div within the above button
    .brand-campaign-set {
        width: 100%;
    }

    // unindented brand
    .brand-button{
        width: 100%;
        border-radius: 1%;
        border: none;
        box-shadow: none;
    }

    // indented campaign
    .campaign-button {
        width: 75%;
        border-top: solid 1px rgb(205, 205, 205) !important;
        background-color: rgb(217, 217, 217) !important;
    }

    .placeholder-thumbnail {
        width: 75px;
        height: 75px;
        background-color: darkgray;
        display: inline-flex;
    }
    .img-thumbnail {
        width: 75px !important;
        height: 75px !important;
        display: inline-flex !important;
    }
    .info {
        display: inline-flex;
    }

    .closed {
        display: none;;
    }

}

#navbars-overlay {
    position: fixed;
    display: flex;
}

#iview-container {
    margin-top:60px;
    margin-left: 0 !important;
    width: 100% !important;
}


#in-flow-navbar {
    height: 30px;
}
