// DigitalMirrorCard: a widget for showing the user their twitter data (experimental)
.mirror {
    .profile-details {
        text-align: left;
    }

    select, input {
        width: 80%;
    }

    /** size a user profile picture*/
    .img-profile {
        width: 64px;
        max-height: 100px;
    }
}