
/*

TODO: CSS Clean-Up to be more modular and robust

Redefining font stuff (font family or size) or basic tags (e.g. h1,h2,p,a) for a specific section is usually a mistake, 
as it leads to inconsistent styling + harder to maintain css.

For the css below that deals in font/text matters:
 - Can we remove this?
 - ...If not, should it be promoted to a general rule?
 - ...If not, add a comment

*/



/** a funky list of things to do. On mobile, it gracefully becomes less funky. 
A .TubeLine div contains seberal sections with TubeLine-img and TubeLine-line
*/
.TubeLine {
	.TubeLine-img {
		@media @width-mobile {
			width: 50% !important;
		}
	}
	.TubeLine-line {
		position: absolute;
		top: 0%; // NB the line will flow under the img, due to element ordering in the jsx
		bottom: 0;
		left: 8.3%; // halfway across the img -- Is this placement reliable??
		padding: 0px 1.5px;
		background: #F9B139;
		@media @width-mobile { // no joining line on mobile
			display: none;
		}
	}
	.done {
		.TubeLine-line {
			background: #07950C;
		}
	}
}

.AccountPage {

	.account-sidebar {
		.account-tab {
			color: black;
			text-decoration: none;
			&:hover {
				background: @gl-light-pink;
			}
			&.active {
				background: @gl-pink;
				font-weight: bold;
			}
		}
	}

	.user {
		img {
			width: 100%;
			@media @width-mobile {
				width: 25%;
				margin-bottom: 1rem;
			}
		}
		@media @ipad-max {
			margin-top: 170px;
		}
	}

	// TODO avoid overriding fonts and standard tags
	h1, h2, h3, h4 {
		margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
		align-self: center;
	}

	h2 {
		color: @gl-light-red;
	}

	.settings {
		/* chunky settings */
		font-size: 1.5rem;
		.hover-info {
			position: relative;
			.extra-info {
				display: none;
				font-size: 1rem;
				position: absolute;
				top: 50%;
				left: 25%;
				background: white;
				z-index: 99;
				padding: 20px;
				box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
			}
			&:hover {
				.extra-info {
					display: block;
				}
			}
		}

		// Styling for consent widget toggles
		.form-check-label {
			// Swap sides for toggle circle and label
			display: inline-flex;
			flex-direction: row-reverse;
			justify-content: center;
			align-items: center;
			
			// Styling for circle toggle
			input {
				margin-left: 1rem;
				margin-right: 0;
			}
		}
	} // ./settings
}
