
// TODO try to refactor this to use less css rules, and more vanilla Bootstrap

// NOTE: this file was created only recently (22/04/19) so don't assume that all 
// less rules pertaining to the campaign page will be here

// Primary navbar color will be set by advert
// Then looks broken to use a darkened gl-red to indicate focus/hover
@navbar-accent-color: unset;

@import "../js/base/style/fonts.less";
@import "../js/base/style/colours.less";
@import "../../src/js/base/style/DemoPlayer.less";

body {
	overflow-x: hidden;
}

// Note: My-Loop has nav buttons, but the navbar is transparent.
// Whereas CampaignPage has a solid brand-coloured navbar
#campaign .navbar {
	background-color: @gl-red;
	#top-right-menu {
		a {
			color: #fff;
		}
	}
}

.CampaignPage {
	background-color: #fff !important;

	.flex-column>* {
		margin: unset;
	}

	.impact-hub-splash {
		position: relative;

		.splash-curve {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			@media @ipad-max {
				display: none;
			}
		}

		.splash-img {
			height: 100vh;
			object-fit: cover;
		}

		.dark-overlay {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.1);
			@media @ipad-max {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}

		.splash-card {
			position: absolute;
			top: 50%;
			width: 100%;
			right: 0;
			transform: translateY(-50%);
			z-index: 3;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@media @md-max {
				align-items: center;
				justify-content: start;
				height: 100%;
			}
		}

		.splash-content {
			width: 45%;
			height: 100%;
			@media @ipad-max {
				height: 90%;
				padding-top: 70px; // avoid navbar
				width: 100%;
				@media @md-max {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
				}
			}
		}

		.splash-text {
			@media @ipad-max {
				text-shadow: 0 2px 3px black;
			}
		}
		
		.hero {
			min-height: 40vh;
			.hero-circles {
				flex-grow: 1;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				@media @md-max {
					flex-direction: column;
				}
				.plus {
					width: 30px;
					@media @md-max {
						width: 20px;
					}
				}
			}
			.white-circle {
				width: 25%;
				@media @md-max {
					width: 40%;
				}
				.sub-header {
					font-size: 1.4rem;
					color: @gl-orange;
					font-weight: 700;
					@media @md-max {
						font-size: 1rem;
					}
				}
			}
			.header {
				font-weight: 600;
				font-size: 2.35rem;
				@media @md-max {
					font-size: 1.7rem;
					@media (max-height: 568px) {
						font-size: 1.5rem;
					}
				}
			}
			.subtext {
				font-size: 1.5rem;
				@media @md-max {
					font-size: 1rem;
				}
			}
		}

		.splash-buttons {
			position: absolute;
			bottom: 20px;
			left: 50px;
			z-index: 3;
			display: flex;
			flex-direction: row;
			align-items: center;
			@media @md-max {
				justify-content: space-between;
				left: 0px;
				width: 100%;
				padding: 0px 10px;
			}
		}
	}

	h1,h2 {
		color: @gl-light-red;
	}

	h1,h2,h3,h4,h5 {
		font-weight: 600;
		text-transform: uppercase;
	}

	////////// Charity Cards /////////
	.charity-card {
		.stub-divider {
			padding: 2px;
			width: 15%;
			margin-top: 20px;
			margin-bottom: 20px;
			background-color: @gl-light-red;
		}
		.charity-description {
			a {
				font-weight: bold;
				font-style: italic;
				color: @gl-light-red;
				text-decoration: none;
			}
		}
	} // ./charity-card

	.blockquote {
		font-size: 0.8rem;
	}

	.tablet-container {
		position: absolute;
		z-index: 1;
		// Position on top of tablet image
		top: 8.8%;
		left: 18.2%;
		width: 71.6%;
		height: 74.6%;
		overflow: hidden;
		.tablet-ad-container {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			left: 2.5%;
			width: 95%;
			z-index: 1;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
		}
		.tablet-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 0;
		}
	}

	.tablet-overlay {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		pointer-events: none;
	}

	.ad-card {
		position: relative;
	}

	.charity-quote {
		background-color: white;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
		.charity-quote-content {
			padding: 40px;
			padding-bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.charity-quote-text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				text-align: left;
			}
			.charity-quote-logo {
				display: flex;
				justify-content: flex-end;
				img {
					width: 15%;
				}
				@media @md-max {
					margin-bottom: 20px;
					justify-content: center;
					img {
						width: 25%;
					}
				}
			}
		}
	}

	// Match the advert section
	.small-print {
		color: white;
		background-color: #830000;
	}
}
