// NOTE: this file was created only recently (22/04/19) so don't assume that all less rules pertaining to the campaign page will be here

// Primary navbar color will be set by advert
// Then looks broken to use a darkened gl-red to indicate focus/hover
@navbar-accent-color: unset;

@import '../js/base/style/fonts.less';

.CampaignPage {

	.hero {
		min-height: 40vh;
		.hero-logo {
			max-height: 150px;
			max-width: 100%; // Contains image in mobile
		}
	}

	// Hack to give breathing room to splash without changing base Component
	.container.p-2 {
		padding: 6rem 2rem!important;
	}

	// Note: My-Loop has nav buttons, but the navbar is transparent.
	// Whereas CampaignPage has a solid brand-coloured navbar
	.navbar {
		background-color: @gl-red;
	}
	
	#logo-container-curve {
		display: none;
	}

	.btn-gl {
		color: #fff;
		background-color: @gl-red;
	}

	// Subtle box-shadow to separate important sections on the page.
	// TODO: More elegant solution.
	.section {
		box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.1);
	}

////////// Charity Cards /////////
	.charity-card {
		.bg {
			background-position: center; // Keep original focus of the photo if the card is short
		}
		// Push inner card to the right
		.container {
			display: flex;
			justify-content: flex-end;
			padding: 5em 0!important; // Give some top/bottom breathing room to card
		}
		// Charity card logo get up to 200px, auto height.
		.logo {
			width: auto;
			height: auto;
			max-width: 200px;
			max-height: 200px;;
			border-radius: 5px;
			margin-right: 1em; // Push to the left to make space between logo and text BG
		}

		// Good-Loop sub-header font for both title and donation subtitle inside charity cards.
		h3, .charity-donation {
			&:extend(.header-font);
		}
	}

	// Size and position for the inner white card when a background photo is present. 
	// Width gets overwritten in the media queries at the bottom for mobile.
	.white-inner-card{
		display: flex;
		flex-direction: column;
		max-width: 600px;
		align-items: flex-end;
		background-color: rgba(255, 255, 255, .9);
		width: 45%;
		text-align: right;
		border-radius: 5px;
		padding: 1em;
		h3 {
			font-size: 3rem;
		}
		.charity-donation {
			font-size: 2rem;
		}
	}

	.blockquote {
		font-size: .8rem;
	}
////////////////////////

	.pub-container {
		flex-direction: column; // Stacks subtitle on top of logo grid
		max-width: 1200px; // container max-width
		margin: 0 auto;
		img {
			max-height: 65px;
		}
		// Subtitle to the left
		.sub-header-font {
			text-align: left;
		}

	}

	// Hack: Chart title does not align properly, so instead we remove it and use
	// this header superposed over the chart.
	.breakdown-title {
		margin-bottom: -2em;
	}

///////// Advert Cards //////////
	.total-views-column {
		display: flex;
		justify-content: center;
		padding: 2em 0; // Breathing room between top and bottom elements
		&:extend(.sub-header-font);
		.sub-header-font { font-size: 1.25rem; }
		img {
			max-width: 200px;
		}
		// Style for the element at the top of advert-card-container
		.align-middle {
			max-width: 400px;
			text-align: left;
			padding: 1em;
			&:extend(.sub-header-font);
			p {
				margin: 0 auto;
			}
		}
		@media (max-width:767px) {
			align-items: center;
			flex-direction: column;
		}
	}


	.advert-card-container {
		text-align: right;
		.header-font { 
			font-size: 1.5rem;
			&.value-highlight {
				font-size: 2rem;
				font-weight: 700;
			}
		}
		.value-highlight { color: rgb(119, 15, 0); }
		.sub-header-font { font-size: 1.25rem; }
	}

	// On small devices makes thumbnail full width and forces aspect ratio for responsive behaviour.
	@media (max-width: 481px) {
		@ratio: 1.777777778; // 480w / 270h <-- initial size of thumbnail
		.video-thumbnail {
			width: 100%;
			height: 100vw / @ratio;
		}
	}

////////////////////////

	rect {
		fill: rgba(0, 0, 0, 0);
	}

////// Media Queries Mobile ////////
	@media (max-width: 728px) {
		.ACard {
			.container {
				padding: 2em 0!important; 	// Forces charity card images go full bleed on mobile 
				.img {
					max-height: 300px;
				}
			}
		}

		// This sets the logo on top of the charity card, and aligns everything to the right.
		.charity-card {
			.container {
				flex-direction: column;
				align-items: flex-end;
			}
			.white-inner-card {
				width: 100%;
				background-color: transparent;
			}
			.logo {
				margin-right: 0;
			}
			.photo {
				display: none; 
			}
			.bg {
				// In mobile the background photo can make things hard to read, so we remove it leaving the bg colour
				background-image: none;
			}
		}
	}
}

