// NOTE: this file was created only recently (22/04/19) so don't assume that all less rules pertaining to the campaign page will be here

// Primary navbar color will be set by advert
// Then looks broken to use a darkened gl-red to indicate focus/hover
@navbar-accent-color: unset;

// Prevents hero image from leaking out of the header
.header-block {
    overflow: auto;
    position: relative;
}

.CampaignPage {
    .navbar {
        background-color: @gl-red;
    }

    .navbar a {
        color: #fff !important;
    }

    .dropdown > a {
        color: #fff !important;
    }

    .btn-gl {
        color: #fff;
        background-color: @gl-red;
    }
}