

#charity-picker {
	background-color: #830000;
	padding: 1em 0;

	.charity-picker-inner {
		border-radius: 45px;
		background-color: white;
		border: 1px solid transparent; // Prevent margin collapse with header
		padding-bottom: 5px;
	}

	.charity-picker-header {
		background-color: #830000;
		color: #fff;
		border-radius: 35px;
		margin: 10px -5px; // horizontal: counteract 15px padding on container
		text-align: start;
		padding: 1em 2em 0.1em 2em;
	}

	.search-bar, .search-results {
		margin: 0.5em 1em;
		border-radius: 5px;
		padding: .5em;
	}

	.search-bar {
		background-color: #830000;
	}

	.search-results {
		background-color: #eeeaea;
		text-align: left;
		& > p { // Results found text, align bottom-left
			text-align: left;
			margin-bottom: 0;
			color: #830000;
		}
	}

	.search-input-container {
		position: relative; // allow icon to position itself against this
		width: 100%;
	}

	/* clears the 'X' from Chrome */
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration { display: none; }

	.search-input {
		width: 100%;
	}

	// Put the search/magnifying glass icon in the right side of the input box
	.search-icon {
		position: absolute;
		right: 0.5em;
		top: 50%;
		transform: translateY(-50%);
	}
	
	// Match width of saved charities (displayed outside search box) to search box
	.saved-charities .charity-card {
		margin: 0.5em 1em;
	}

	.charity-card {
		display: flex;
		border-radius: 5px;
		margin: .5em 0;
	
		background-color: #eeeaea;
		box-shadow: 1px 1px 3px rgba(0,0,0, .2);

		&.favourite {
			background-color: #15D2A7;
		}
	
		.logo-div {
			background-color: #fff;
			margin: .5em;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
	
			height: 7em;
			width: 33%;

			& > p {
				font-size: 1.2em;
				font-weight: 600;
				max-width: 80%;
			}
	
			.charity-card-logo {
				// max-width: 8em;
				max-height: 6em;
				max-width: 11em;
				margin: 0 auto;
				align-self: center;
				@media (max-width: 767px) {
					max-width: 100%;
				}
			}
		}
	
		.info-div {
			width: 66%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: left;
			padding: 1em .5em .5em .5em;
			
			& > * { // Removes underline for login button
				text-decoration: none;
			}

			.charity-card-name {
				font-weight: 700;
				color: #830000;
			}
		}
	
		.save-remove-btn, .picker-login-btn {
			text-align: center;
			align-self: flex-end;
			width: 80%;
			border-radius: 5px;
			background-color: #830000;
			color: white;
			box-shadow: 1px 1px 3px rgba(0,0,0, .2);

			user-select: none; // Blocks double click selection of text on buttons
			&:hover {
				cursor: pointer;
				background-color: #9b0000;
			}
		}

		// Vertical layout for smaller devices.
		@media (max-width: 767px) {
			flex-direction: column;
			.logo-div {
				width: 90%;
				margin: .5em auto;
			}
			.info-div {
				width: 100%;
				.picker-save-btn, .picker-remove-btn, .picker-login-btn {
					align-self: center;
				}
			}
		}
	}
}


// Removes Bootstrap's weird blue styling arpund focused input elements.
.search-input {
	&:active, &:focus {
		outline: none!important;
		border: none!important;
		box-shadow: none!important;
	}
}

.charity-card-wrapper {
	background-color: #fff;
	padding: .3em .5em;
	border-radius: 5px;

	// Fixed height for search contents box and make it scrollable.
	max-height: 25em;
	overflow: auto;
}

