// Useful for making BootStrap columns all the same height
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
	display: flex;
    flex-direction: row;
}

.flex-centre {
    align-items: center;
}

.flex-align-items-start {
    align-items: start;
}

.flex-vertical-align {
    .flex-column();
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

// Will take up as much space in the container as possible
.flex-fill {
    display: flex;
    flex: 1;
}