// Useful for making BootStrap columns all the same height
.flex {
    display: flex;
    > * {
        margin: auto;
    }
}

.flex-column {
    .flex();
    flex-direction: column;
}

.flex-row {
    .flex();	
    flex-direction: row;
}

.flex-row-reverse {
    .flex();
    flex-direction: row-reverse;
}

// Will take up as much space in the container as possible
.flex-grow {
    .flex();    
    flex: 1;
}

.flex-vertical-align {
    .flex-column();
    justify-content: center;
}

.flex-centre {
    align-items: center;
}

.flex-align-items-start {
    align-items: start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
}
