
h1 {
    color: @gl-red;
    text-align: center;
}

h2 {
	font-weight: normal;
	text-transform: capitalize;
}

h3 {
    color: @gl-dark-turquoise;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

