// my-loop default footer style
.footer {
	border-top: 0px;
	background: #F6C390; // TODO var (where if abywhere is this used??)
	color: #333;
	margin: 0px;
	padding: 10px;	
	display: flex;
	flex-wrap: wrap;

	.footer-col {
		flex-basis: 33.3%;
	}

	div {
		vertical-align: bottom;
	}

	.mainFooter {
		text-align: center;
	}
	
	.leftFooter {
		display: table;
		text-align: left;
		font-size: 12px;

		.innerLeftFooter {
			vertical-align: bottom;
			display: table-cell;
		}
	}
	
	.rightFooter {
		display: table;
		text-align: right;
		font-size: 12px;

		.innerRightFooter {
			vertical-align: bottom;
			display: table-cell;
		}
	}
}

// TODO: clear conflict between this and footer definition in main.less
// investigate tool to find out unused CSS rules (would ease our job of removing useless CSS)

// using flex to change the template of the layout for the footer to a column based one
// only applies on phone-sized devices
@media only screen and (max-width: 900px) {
	// using flex to display footer vertically on mobile
	.footer {
		flex-direction: column;
		flex-basis: 100%;

		// styles the fineprint text set in the portal (campaign start date and advertiser copyright or whatever else they want to add in the right side of the footer)
		.leftFooter, .rightFooter {
			color: white;
			opacity: 0.8;
		}

		// left footer and right footer no longer need to be fixed to the bottom and to the sides
		// instead they look better moved to the center and reverting the vertical alignment
		.leftFooter {
			display: block;
			text-align: center;
	
			.innerLeftFooter {
				vertical-align: initial;
				display: inherit;
			}
		}
		
		.rightFooter {
			display: block;
			text-align: center;
	
			.innerRightFooter {
				vertical-align: initial;
				display: inherit;
			}
		}
	} 
}