footer {
	font-family: "Tajawal", sans-serif;
	background-color: @dark0;
	color: @light0;
    
	a {
		color: white;
    }
    a:hover {
		color: white !important;
    }
    h5 {
		text-transform: uppercase;
		font-family: 'Montserrat';
		font-weight: bold;
    }
    .btn {
		font-family: 'Montserrat';
	}
	hr {
		color: white;
		background-color: white;
		margin: 50px 0px;
	}

	.flex-column>* {
		margin: 0;
	}

	@media @md-min {
		.footer-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
	}

}

.my-loop-footer {

	position: relative;

	@media @width-mobile {
		padding-top: 50px;
	}

	.social-icons {
		width: 300px;
		@media @width-mobile {
			width: 100%;
		}
	}

	.footer-links a {
		color: white !important;
	}

	.hummingbird {
		position: absolute;
		width: 15%;
		transform: scaleX(-1);
		right: 10%;
		top: 10%;
		@media @width-mobile {
			width: 25%;
			top: 50px;
		}
	}

	.newsletter-email input {
		width: 50%;
		border-radius: 0;
		@media @width-mobile {
			width: 100%;
		}
	}

	.btn-subscribe {
		border-radius: 0;
		background-color: white;
		color: black;
	}

} // ./my-loop-footer
