@import "../js/base/style/colours.less";

footer {
	font-family: "Tajawal", sans-serif;
	background-color: @dark0;
	color: @light0;
    
	a {
		color: white;
    }

    a:hover {
		color: white !important;
    }
    h5 {
		text-transform: uppercase;
		font-family: 'Montserrat';
		font-weight: bold;
    }
    .btn {
		font-family: 'Montserrat';
	}
	hr {
		color: white;
		background-color: white;
		margin: 50px 0px;
	}

	.flex-column>* {
		margin: 0;
	}

	// @media @md-min {
	// 	.footer-links {
	// 		display: flex;
	// 		flex-direction: column;
	// 		align-items: center;
	// 		justify-content: space-between;
	// 	}
	// }

}

.my-loop-footer {

	position: relative;
	padding-left: 0;
	padding-right: 0;

	@media @width-mobile {
		padding-top: 50px;
	}

	.social-icons {
		width: 300px;
		@media @width-mobile {
			width: 100%;
		}
		img {
			max-width: 55px !important;
		}
	}

	.footer-links a {
		color: white !important;
	}

	.hummingbird {
		position: absolute;
		width: 15%;
		transform: scaleX(-1);
		right: 10%;
		top: 10%;
		@media @width-mobile {
			width: 25%;
			top: 50px;
		}
	}

	.turtle {
		position: absolute;
		width: 15%;
		right: 10%;
		top: 10%;
		@media @width-mobile {
			width: 25%;
			top: 50px;
		}
	}

	// .newsletter-email input {
	// 	width: 50%;
	// 	border-radius: 0;
	// 	@media @width-mobile {
	// 		width: 100%;
	// 	}
	// }

	.btn-subscribe {
		border-radius: 0;
		background-color: white;
		color: black;
	}

} // ./my-loop-footer

// navigation to other sites copied from main website 
#footer-nav-container {
	background-color: @gl-dark-turquoise !important;

	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3rem;

	color: @light0;

	a {
		text-decoration: none !important;
	}

    a:hover {
		color: white !important;
    }
    h5 {
		text-transform: uppercase;
		font-family: 'Montserrat';
		font-weight: bold;
    }
    .btn {
		font-family: 'Montserrat';
	}

	.flex-column>* {
		margin: 0;
	}

	.footer-links {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
}

#footer-bCorp-carbonNegative-logos {
	.row{
		// move to just off the right side of screen 	
		flex-direction: row; 
		padding-right: 25px;
		justify-content: center;
		padding-bottom: 20px;	// make sure website doesn't end abrubtly at the very bottom of the images
	}
}