/** citation "footnote" *s get some on-hover juice */
a.Ref {
  text-decoration: none !important;
  transition: 0.3s;
  transform: scale(1) rotate(0deg);
  display: inline-block;
  &:hover {
    transform: scale(2) rotate(20deg);
    transition: 0.3s;
  }
} // ./Ref

#getinvolved {
  .raise-money-section, .our-ads-section {
    background: linear-gradient(180deg, white, @gl-lighter-blue);
  }
}
