.GetInvolvedPage {
    .unset-margins>* {
        margin: unset;
    }
    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
        align-self: center;
    }
    h2 {
        font-weight: 600;
        color: @gl-light-red;
    }
    p {
        font-size: 1.5rem;
    }
}