
/* Params for card dimensions */
@gc-border-radius: 0.5rem;
@gc-padding: 1rem;

/* Button colours */
@gc-btn-colour: #4a737b;
@gc-btn-colour-light: lighten(@gc-btn-colour, 10%);


#greendash .green-metrics {
	font-family: 'Montserrat';

	.select-agency {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.btn-primary:active:not(.disabled), .btn-primary.active, .btn-primary:focus:not(.disabled) {
		background-color: @gc-btn-colour-light !important;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 30%) !important;
	}
	.btn-primary {
		background-color: @gc-btn-colour !important;
		&:hover {
			background-color: @gc-btn-colour-light;
		}
	}
	.btn-secondary {
		color: @gc-btn-colour !important;
		border-color: @gc-btn-colour;
		&:active {
			color: #fff;
			border-color: @gc-btn-colour-light;
		}
		&:hover {
			color: @gc-btn-colour-light;
		}
	}

	/* General styling for the info cards */
	.green-card {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.gc-title {
			font-size: 90%;
			text-transform: uppercase;
		}

		.gc-body {
			background-color: white;
			box-shadow: 0 0.25em 0.5em rgb(0 0 0 / 40%);
			border-radius: @gc-border-radius;
			padding: @gc-padding;
			flex-grow: 1;
		}

		// Default chart behaviour: Fill as much of the card's natural height as possible
		.chart-canvas-container {
			flex-grow: 1;
		}

		/* The (?) button that shows an explanation of the card's data */
		.card-about {
			z-index: 1;
			.about-button, .about-body {
				position: absolute;
				top: 0.5rem;
				right: 0.5rem;
				width: 1rem;
				height: 1rem;
				border-radius: 0.5rem;
			}
			&.open .about-body {
				width: calc(100% - 1rem);
				height: calc(100% - 1rem);
				padding: 1em;
			}

			.about-button {
				color: white;
				background-color: darkred;
				font-weight: bold;
				font-size: 66%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.2em;
			}
			.about-body {
				border: 1px solid darkred;
				background-color: white;
				overflow: hidden;
			}
		}
	}

	/* The time / brand / campaign selector */
	.greendash-filters {
		width: 100%;
		display: flex;
	
		.filter-dropdown .btn.dropdown-toggle {
			border: none !important;
			box-shadow: none !important;
			background: transparent !important;
			color: black !important;
			padding: 0.4rem;
		}
	
		// The tick next to the currently selected item
		.selected-marker {
			position: absolute;
			left: 0;
			width: 1.5rem; // matched to dropdown-button horizontal padding
			text-align: center;
			&:before {
				content: "✔";
			}
		}
	}

	/* The period / total impressions at-a-glance header */
	.greendash-overview {
		color: @greenmedia-darkcyan;
		font-weight: 600;
	}

	/* The hero "emissions over time + driving / flights / kettles equivalent" chart*/
	.carbon-time-series {
		// Container manages the 
		.container {
			flex-grow: 1;
		}
		.card-body {
			padding-right: 0; // Let the right subcard sit flush with the card edge
		}
		// .chart-subcard {
		// 	flex-grow: 1; // why??
		// }
		.total-subcard {
			color: white;
			background-color: @greenmedia-darkcyan;
			margin: -@gc-padding 0;
			padding: @gc-padding;
			border-radius: @gc-border-radius;			
			width: calc(100% + @gc-padding + 15px); // 15px = column gutter, @gc-padding = 1rem = card padding
			height: calc(100% + @gc-padding + @gc-padding); // 2rem = 2 * @gc-padding = card padding
			text-align: center;
			
			.impact-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.big-number, .impact-bubble {
					padding: 0.5em;
				}
		
				.big-number {
					font-weight: 900;
					.number {
						font-size: 400%;
						line-height: 1;
					}
					.unit { font-size: 150%; }
					.desc { font-size: 100%; }
					.number, .unit, .desc {
						display: block;
					}
				}
		
				.impact-bubble {
					color: black;
					background-color: white;
					border-radius: @gc-border-radius;
					
					margin-bottom: 1.5em;
					width: 100%;
					flex-grow: 1;

					.impact-leader {
						font-size: 100%;
					}
					.impact-number {
						font-size: 300%;
						font-weight: 900;
					}
					.impact-desc {
						font-size: 100%;
						font-weight: 900;
						text-transform: uppercase;
					}
					.impact-icon {
						height: 3em;
					}
				}

			}
	
			.impact-buttons {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				.impact-button {
					position: relative;
					display: block;
					width: 2.5em;
					height: 2.5em;
					border-radius: 50%;
					border: 0.2em solid white;
					background-image: url("/img/green/dashboard/impact-button.svg");
					padding: 0.25em;
					&.selected {	
						filter: grayscale();
						&:before {
							content: '';
							background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:%23fff;stroke:none' d='M 0,0 50,50 100,0 Z'/%3E%3C/svg%3E");
							display: block;
							position: absolute;
							height: 2em;
							width: 2em;
							// 0.2em to adjust position for parent border width
							left: -0.2em;
							top: -1.7em;
						}
					}
				}
			} // /.impact-buttons
		}
	} // /.carbon-time-series

	.carbon-time-of-day {
		.chart-canvas-container {
			height: 6em;
		}
	}
}


.carbon-journey {
	.card-body {
		text-align: center;
	}
	
	.cloud-indicator {
		position: relative;
		margin-bottom: 0;
		.cloud-graphic {
			width: 100%;
			height: 5em;
			top: 0;
			left: 0;
			overflow: visible;
			z-index: 0;
		}
		.cloud-message {
			position: absolute;
			top: 1.5em;
			width: 100%;
			font-size: 1.25rem;
			color: white;
			z-index: 1;
		}
		margin-bottom: 0.5em;
	}
	.carbon-emission-total {
		font-size: 1rem;
	}
	.journey-tree {
		height: 3em;
		margin: 0.5em;
	}
} // /.carbon-journey

.carbon-cta {
	flex-grow: 0 !important; // Let the time-of-day card above expand
	// mostly copy-pasta of trees elsewhere
	.cta-card-decoration {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		.tree-side {
			height: 2.5em;
		}
		.tree-centre {
			height: 3.5em;
			margin: 0 0.5em;
		}
	}
	.get-in-touch {
		z-index: 1; // place in front of the tree decoration
	}
}
