@green-bg-light: #477b73;
@green-bg-dark: #52727a;
@green-highlight: #698983;
@blue-highlight: #69a4b9;
@sea-blue: #76a1b7;
@nav-width: 20em;

#green-dashboard {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	
}

#green-navbar {
	width: @nav-width;
	height: 100%;
	background-color: @green-bg-dark;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	font-family: 'Montserrat';

	> * {
		width: 100%;
	}


	.logo {
		margin: 3em auto;
	}

	.nav-item {
		&.active {
			background: @green-highlight;
		}
		display: flex;
		align-items: center;
		color: white;
		text-transform: uppercase;
		text-decoration: none;
		padding: 0.5em 0 0.5em 3em;
	}

	.green-nav-icon {
		position: relative;
		display: inline-blaock;
		width: 3em;
		height: 3em;
		border-radius: 50%;
		background-color: white;
		margin-right: 1em;
	}


}

.green-subpage {
	flex-grow: 1;
	height: 100%;
}

.green-card {
	display: flex;
	flex-direction: column;
	.gc-body {
		background-color: white;
		box-shadow: 0 0.25em 0.5em rgb(0 0 0 / 40%);
		border-radius: 0.5em;
		flex-grow: 1;
	}
}

.GreenLandingPage {
	font-family: "Montserrat";
	color: white;
	position: relative; // See .landing-behind-footer below - overall page div needs to be a position reference

	.landing-splash, .landing-map {
		height: 100vh;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.landing-splash {
		background-image: url("/img/green/dashboard-background.svg");
	}

	.hummingbird {
		position: absolute;
		height: 15vw;
		width: 15vw;
		top: 30vh;
		left: 5vw;
		object-fit: contain;
	}

	.splash-circle {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 80vh;
		width: 80vh;
		background-color: rgba(40, 105, 132, 0.8);
		border-radius: 50%;
		text-transform: uppercase;
		font-size: 2.5vh;
		.branding {
			height: 4em;
			padding: 0.25em;
			border-radius: 2em;
			background-color: white;
			img {
				position: relative;
				height: 3.5em;
			}
		}
		.big-number {
			font-weight: bold;
			font-size: 200%;
		}
		.carbon-neutral-container {
			display: flex;
			align-items: center;
			text-transform: none;
		}
		.carbon-neutral-logo {
			height: 7em;
		}
		.splash-explore {
			background-color: @blue-highlight;
			border: 2px solid white;
		}
	}

	.mission {
		background-color: @green-bg-light;
		text-align: center;
	}

	// The world map
	.projects-map {
		background-color: @sea-blue;
		img {
			width: 100%;
		}
		.map-markers {
			position: relative; // Needs to be position ref for project-markers
		}
	}

	// The project descriptions on the world map
	.project-marker {
		position: absolute;
		width: 20em;
		height: 8em;
		filter: drop-shadow(0 0.2em 0.2em rgba(0, 0, 0, 0.4));
		
		.photo, .desc {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			height: 100%;
		}
		
		.photo {
			left: 0;
			width: 8em;
			object-fit: cover;
			border-radius: 1em 0 0 1em;
		}
		.desc {
			right: 0;
			width: 12em;
			padding: 0.5em;
			padding-left: 1em;
			border-radius: 0 1em 1em 0;
			background-color: white;
			color: black;
			font-weight: 600;
		}
		.pointer {
			position: absolute;
			width: 2em;
			height: 2em;
			top: 100%;
			right: 4em;
			fill: white;
		}
	}

	.landing-extra {
		background-color: @green-bg-dark;
		text-align: center;
		background-image: url("/img/green/more-info-bg.svg");
		background-size: 100%; // 100% width; height maintains aspect
		background-repeat: repeat-y;
	}

	/* Hack - extend the dark sea green of the last div behind the footer curve */
	.landing-behind-footer {
		position: absolute;
		top: 100%;
		height: 24vw; // Footer curve svg aspect is ~1:0.23, this will make sure it covers the white space
		width: 100%;
		background-color: #52727a;
	}
}