@gat-light-green: #7eb58e;
@gat-deep-green: #2f5d64;
@gat-grey: #707070;
@gat-palebg: #eff3f5;
@gat-palerbg: #f6f8f9;

#greendash .optimisation-mode-select {
	font-size: 1.25rem;
	border-bottom: 1px solid silver;
	margin-bottom: 0.5em;
	.mode-link {
		padding: 0.25em;
		display: inline-block;
		&:not(:last-child) {
			margin-right: 2em;
		}
		&.active {
			font-weight: 600;
			color: @gat-deep-green;
			border-bottom: 0.25em solid currentColor;
		}
	}
}


#greendash .publisher-recommendations {
	/* Common styling for all 3 cards */
	.domain-list, .generator {
		height: 36rem;
		.card-header {
			color: white;
			text-align: center;
			border-bottom: none;
			text-transform: uppercase;
			font-size: 1rem;
		}
		.card-footer {
			border-top: none;
			background-color: @gat-palebg;
			height: 8rem;
		}
	}

	/* The centre card with the generator controls */
	.generator-expl {
		line-height: 1.5;
		color: @gat-deep-green;
	}
	.generator {
		.card-header {
			background-color: @gat-deep-green;
		}
		.card-footer {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		// Have chart container take up all unused space...
		.chart-slider-box {
			flex-grow: 1;
		}
		// ...and chart canvas fill container
		.publisher-carbon-histogram {
			height: 100%;
		}
		.chart-slider-box {
			position: relative; // Position reference for us to overlay range slider on chart
			flex-grow: 1; // Use full available size in card
			.cutoff-input {
				position: absolute; // bottom, left, width will be set dynamically in callbacks to place along chart baseline
				// Display a bubble with exact value next to the slider
				.value-bubble {
					position: absolute;
					background-color: @gat-palebg;
					border: 1px solid silver;
					border-radius: 0.5rem;
					padding: 0.5rem 0.75rem;
					margin-left: 0.75rem;
					margin-right: 0.75rem;
					margin-top: -0.75rem;
					white-space: nowrap;
					font-weight: 600;
				}
				// Because the distance between the left and right extremes of the slider centre is smaller than the overall track size,
				// we have to adjust the range over which the slider-value bubble travels left to right
				.value-bubble-container {
					position: absolute;
					top: 0;
					left: 8px; // Slider 16px across... in Chrome, at least
					width: calc(100% - 16px);
				}
			}
		}
		.reduction-number {
			font-size: 300%;
		}
	}

	/* The side cards showing the sets of blocked/allowed domains*/
	.domain-list {
		// set up borders etc (block/allow-specific colours set in &.allow and &.block below)
		.domain-stats {
			border-top: 0.25rem solid #fff;
			border-bottom: 0.25rem solid #fff;
			.domain-stat {
				padding: 0.5rem 1rem;
				flex-grow: 1; // fill row
				line-height: 1.75;
				&:not(:first-child) {
					border-left: 2px solid silver;
				}
			}
			.stat-value {
				font-weight: 600;
			}
		}

		.cutoff-value {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			font-weight: 600;
		}
		.cutoff-icon {
			color: white;
			display: inline-flex;
			height: 1.5em;
			width: 1.5em;
			border-radius: 50%;
		}

		// The scrollable list of domains
		.domain-list-preview {
			overflow: clip scroll;
			list-style-type: none;
			font-weight: 600;
			line-height: 1.75;
			flex-grow: 1; // Expand to fill height if not naturally long enough
			:last-child {
				margin-bottom: 0.5em;
			}
		}

		.csv-block {
			.cutoff-icon {
				height: 2rem;
				width: 2rem;
			}
			.csv-desc {
				font-size: 1rem;
				font-weight: 600;
				text-transform: uppercase;
			}
			.download-icon {
				height: 1.25em;
				fill: currentColor;
			}
		}

		&.allow {
			.domain-list-title, .cutoff-icon {
				background-color: @gat-light-green;
			}
			.cutoff-number, .csv-desc, .csv-button {
				color: @gat-light-green !important; // important needed to override button rules
			}
			.domain-stats, .csv-button {
				border-color: @gat-light-green;
			}
		}
		&.block {
			.domain-list-title, .cutoff-icon {
				background-color: @gat-grey;
			}
			.cutoff-number, .csv-desc, .csv-button {
				color: @gat-grey !important; // important needed to override button rules
			}
			.domain-stats, .csv-button {
				border-color: @gat-grey;
			}
		}
	}
}

#greendash .creative-recommendations {
	.creative-list {
		background-color: @gat-palebg;
		.creative-item {
			background-color: @gat-palerbg;
			.card-body {
				display: flex;
				justify-content: space-between;
			}

			.selected-indicator {
				display: inline-block;
				width: 2em;
				height: 2em;
				border: 1px solid silver;
				border-radius: 50%;
				flex-shrink: 0; // stay round!
			}

			&.active {
				.selected-indicator {
					border: none;
					color: white;
					background-color: @gat-deep-green;
				}
			}
		}
	}

	.view-creative {
		.card-header {
			font-weight: 600;
		}
		> .card-header {
			background-color: @gat-palebg;
			font-size: 125%;
			text-align: center;
		}
		.expand-button {
			font-size: 175%;
			line-height: 1;
		}

		// Card with screenshot and overall size
		.creative-size-card {
			color: @gat-deep-green;
			> .card-header {
				background-color: @gat-deep-green;
				color: white;
				text-transform: uppercase;
				text-align: center;
			}
			.carbon-per-impression {
				text-align: center;
				.number {
					font-size: 175%;
					font-weight: 600;
				}
			}
			.size-info {
				padding: 0.5em 0;
				display: flex;
				border: 0.25em solid @gat-deep-green;
				border-left: none;
				border-right: none;
				> * {
					flex-basis: 50%;
					padding: 0.25em;
				}
				.bytes {
					border-right: 1px solid silver;
					.number {
						color: black;
					}
				}
			}
		}

		// Card with "Potential reduction" heading and optimisation list
		.creative-opt-overview-card {
			color: @gat-deep-green;
			> .card-header {
				text-transform: uppercase;
				text-align: center;
			}
			.card-header {
				background-color: @gat-light-green;
				color: white;
			}
			.reduction {
				text-align: center;
				color: @gat-light-green;
				font-weight: 600;
				font-size: 150%;
				.number {
					font-size: 200%;
				}
			}
		}

		// One optimisation recommendation subcard
		.opt-rec {
			.img-preview {
				object-fit: contain;
				max-height: 10rem; // Don't let tall images stretch layout
			}
		}
	}
}