@gat-light-green: #7eb58e;
@gat-deep-green: #2f5d64;
@gat-grey: #707070;
@gat-palebg: #eff3f5;
@gat-palerbg: #f6f8f9;

#greendash .optimisation-mode-select {
	font-size: 1.25rem;
	border-bottom: 1px solid silver;
	margin-bottom: 0.5em;
	.mode-link {
		padding: 0.25em;
		display: inline-block;
		&:not(:last-child) {
			margin-right: 2em;
		}
		&.active {
			font-weight: 600;
			color: @gat-deep-green;
			border-bottom: 0.25em solid currentColor;
		}
	}
}


#greendash .publisher-recommendations {
	/* Common styling for all 3 cards */
	.domain-list, .generator {
		height: 36rem;
		.card-header {
			color: white;
			text-align: center;
			border-bottom: none;
			font-size: 1rem;
		}
		.card-footer {
			border-top: none;
			background-color: @gat-palebg;
			height: 8rem;
		}
	}

	/* The centre card with the generator controls */
	.generator-expl {
		line-height: 1.5;
		color: @gat-deep-green;
	}
	.generator {
		.card-header {
			background-color: @gat-deep-green;
		}
		.card-footer {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		// Have chart container take up all unused space...
		.chart-slider-box {
			flex-grow: 1;
		}
		// ...and chart canvas fill container
		.publisher-carbon-histogram {
			height: 100%;
		}
		.chart-slider-box {
			position: relative; // Position reference for us to overlay range slider on chart
			flex-grow: 1; // Use full available size in card
			.cutoff-input {
				position: absolute; // bottom, left, width will be set dynamically in callbacks to place along chart baseline
				// Display a bubble with exact value next to the slider
				.value-bubble {
					position: absolute;
					background-color: @gat-palebg;
					border: 1px solid silver;
					border-radius: 0.5rem;
					padding: 0.5rem 0.75rem;
					margin-left: 0.75rem;
					margin-right: 0.75rem;
					margin-top: -0.75rem;
					white-space: nowrap;
					font-weight: 600;
				}
				// Because the distance between the left and right extremes of the slider centre is smaller than the overall track size,
				// we have to adjust the range over which the slider-value bubble travels left to right
				.value-bubble-container {
					position: absolute;
					top: 0;
					left: 8px; // Slider 16px across... in Chrome, at least
					width: calc(100% - 16px);
				}
			}
		}
		.reduction-number {
			font-size: 300%;
		}
	}

	/* The side cards showing the sets of blocked/allowed domains*/
	.domain-list {
		// set up borders etc (block/allow-specific colours set in &.allow and &.block below)
		.domain-stats {
			border-top: 0.25rem solid #fff;
			border-bottom: 0.25rem solid #fff;
			.domain-stat {
				padding: 0.5rem 1rem;
				flex-grow: 1; // fill row
				line-height: 1.75;
				&:not(:first-child) {
					border-left: 2px solid silver;
				}
			}
			.stat-value {
				font-weight: 600;
			}
		}

		.cutoff-value {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			font-weight: 600;
		}
		.cutoff-icon {
			color: white;
			display: inline-flex;
			height: 1.5em;
			width: 1.5em;
			border-radius: 50%;
		}

		// The scrollable list of domains
		.domain-list-preview {
			overflow: clip scroll;
			list-style-type: none;
			font-weight: 600;
			line-height: 1.75;
			flex-grow: 1; // Expand to fill height if not naturally long enough
			:last-child {
				margin-bottom: 0.5em;
			}
		}

		.csv-block {
			.cutoff-icon {
				height: 2rem;
				width: 2rem;
			}
			.csv-desc {
				font-size: 1rem;
				font-weight: 600;
			}
			.download-icon {
				height: 1.25em;
				fill: currentColor;
			}
		}

		&.allow {
			.domain-list-title, .cutoff-icon {
				background-color: @gat-light-green;
			}
			.cutoff-number, .csv-desc, .csv-button {
				color: @gat-light-green !important; // important needed to override button rules
			}
			.domain-stats, .csv-button {
				border-color: @gat-light-green;
			}
		}
		&.block {
			.domain-list-title, .cutoff-icon {
				background-color: @gat-grey;
			}
			.cutoff-number, .csv-desc, .csv-button {
				color: @gat-grey !important; // important needed to override button rules
			}
			.domain-stats, .csv-button {
				border-color: @gat-grey;
			}
		}
	}
}

// TODO Fix incorrect use of ".green-metrics" for other subpages so this can be folded into the block below
#greendash .green-metrics .creative-recommendations { // extra-specific selector to override style from GreenMetrics.less
	.loader-box {
		flex-direction: row;
		.spinner-box {
			width: 2rem;
			height: 2rem;
			margin-right: 0.5rem;
			flex-shrink: 0; // don't squeeze to non-square!
		}
	}
}

#greendash .creative-recommendations {
	.creative-list {
		// background-color: @gat-palebg;
		.creative-item {
			background-color: @gat-palebg;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-decoration: none; // <a> but no underline on label
			padding: 0.5rem;

			.brand-logo {
				max-height: 3rem;
				width: 4rem;
				object-fit: contain;
				margin-right: 1rem;
			}

			.description {
				flex-grow: 1;
				.tag-name {
					font-weight: 600;
				}
				.brand-name, .tag-name {
					overflow-wrap: break-word; // force breaking VERY_LONG_UNDERSCORE_ONLY_TAG_NAMES
				}
			}

			.selected-indicator {
				display: inline-block;
				width: 1.5rem;
				height: 1.5rem;
				border: 1px solid silver;
				border-radius: 50%;
				flex-shrink: 0; // stay round!
			}

			&.active {
				.selected-indicator {
					border: none;
					color: white;
					background-color: @gat-deep-green;
				}
			}
		}
	}

	.creative-list, .view-creative {
		.card-header {
			font-weight: 600;
		}
		> .card-header {
			background-color: @gat-palebg;
			font-size: 125%;
			text-align: center;
		}
	}

	.view-creative {
		.expand-button {
			font-size: 175%;
			line-height: 1;
		}

		// Card with screenshot and overall size
		.creative-size-card {
			color: @gat-deep-green;
			> .card-header {
				background-color: @gat-deep-green;
				color: white;
				text-align: center;
			}
			.carbon-per-impression {
				text-align: center;
				.number {
					font-size: 175%;
					font-weight: 600;
				}
			}
			.size-info {
				padding: 0.5em 0;
				display: flex;
				border: 0.25em solid @gat-deep-green;
				border-left: none;
				border-right: none;
				> * {
					flex-basis: 50%;
					padding: 0.25em;
				}
				.bytes {
					border-right: 1px solid silver;
					.number {
						color: black;
					}
				}
			}
		}

		// Card with "Potential reduction" heading and optimisation list
		.creative-opt-overview-card {
			color: @gat-deep-green;
			> .card-header {
				text-align: center;
			}
			.card-header {
				background-color: @gat-light-green;
				color: white;
			}
			.no-rec .card-header {
				background-color: silver; // "No reduction" cards should be muted
			}
			.reduction {
				text-align: center;
				color: @gat-light-green;
				font-weight: 600;
				font-size: 150%;
				.number {
					font-size: 200%;
				}
			}
			.optimisation-options {
				.control-webp {
					flex-basis: 30%;
				}
				.control-retina {
					flex-basis: 70%;
					display: flex;
					.form-check {
						display: inline-block;
						margin-left: 0.5em;
					}
				}
			}
		}

		// One optimisation recommendation subcard
		.opt-rec {
			// allow transparency-exposing background but only within image extents = image needs centring flex container
			.img-preview-container {
				display: flex;
				justify-content: center;
			}
			.img-preview {
				object-fit: contain;
				max-height: 10rem; // Don't let tall images stretch layout
				max-width: 100%;
				// checkerboard background for transparency
				background: repeating-conic-gradient(#777 0% 25%, #ddd 0% 50%) 50%/12px 12px;
			}
			.font-preview {
				font-size: 1.25rem;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			// not-quite-table for comparing original and optimised file size
			.comparison-row {
				display: flex;
				justify-content: space-between;
			}
			.improvement {
				text-align: right; // place under the sizes
				.percent {
					font-weight: 600;
				}
			}
			// compact "Details" button to show modal
			.details-btn {
				padding: 0.25em 0.75em;
				text-transform: none;
			}
		}
	}
}

// Extra details - image comparison, extra options etc
.recommendation-details-modal {
	font-size: 125%;
	&.image-details {
		max-width: 60vw;
	}

	.img-comparison-container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 10rem; // make room so very smallest images aren't obscured by controls/indicators
		.version-indicator {
			position: absolute;
			top: 0.5rem;
			width: 100%;
			text-align: center;
			color: white;
			font-weight: 600;
			font-size: 125%;
			text-shadow: 0 0 3px black; // Keep visible against light/transparent images
			z-index: 2; // keep in front of preview images
		}
		.preview-toggle {
			position: absolute;
			bottom: 0.5rem;
			width: 100%;
			text-align: center;
			z-index: 2; // keep in front of preview images
		}
	}

	.img-comparison {
		position: relative;
		img {
			width: 100%;
			max-height: 60vh;
			// checkerboard background for transparency
			background: repeating-conic-gradient(#777 0% 25%, #ddd 0% 50%) 50%/12px 12px;
		}
		// Original should be out-of-flow & can have its aspect adjusted minutely to match optimised version pixel-for-pixel
		// ...because we want the optimised version to look as good as possible & to avoid a 1px rounding-error jiggle
		// when switching between original and optimised
		.original {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: fill;
		}
		.optimised {
			position: relative;
			z-index: 1;
			object-fit: contain;
		}
	}

	.font-preview {
		font-size: 200%;
		// TODO Rework font optimisation to be aware of families & details modal to separate preview and filenames
		// (so the preview can be something that doesn't need to wrap & be shown in entirety)
		overflow-wrap: break-word;
	}
	.character-set {
		font-family: monospace;
		text-align: center;
		border: 1px solid #ddd;
		display: inline-block;
		.char {
			padding: 0 0.1em;
			&.unused {
				color: #aaa;
				position: relative;
				&::after {
					content: '\\';
					padding: 0 0.1em;
					color: #a00;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}


.type-breakdown-modal {
	font-size: 150%;
	.type-breakdown {
		display: flex; // allow bar and table side by side
		// Vertical bar
		.breakdown-bar {
			position: relative; // size ref for segments
			display: flex;
			flex-direction: column;
			width: 3rem;
			border: 1px solid black;

			.bar-segment {
				width: 100%;
				display: block;
				margin: 0;
				min-height: 2px;
				&:not(:last-child) {
					margin-bottom: 1px;
				}
			}
		}
		// Table beside bar
		.breakdown-table {
			width: calc(100% - 3.5rem); // 3em occupied by bar to left + margin
			margin-left: 0.5rem;
			.breakdown-key {
				position: relative;
				display: block;
				width: 2em;
				height: 1.5em;
			}
		}
	}
}
