@import "../js/base/style/fonts.less";

.landing-bg {
	height: 85vh;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 0;
	background-size: auto;

	.landing-splash {
		// Make sure image behind is covered
		height: 101%;
	}

	.landing-left {
		position: relative;
		left: -10%;
	}

	@media @xl-max {
		.landing-left {
			left: 0%;
		}
	}

	@media @width-mobile {
		height: 100vh;
	}

	h1, p, a{
		font-family: 'Montserrat', sans-serif;
	}

	.title {
		margin: 0;
		h1 {
			font-size: 2rem;
			text-transform: unset;
			font-weight: 600;
		}
	}

	.title > * {
		margin-bottom: 2rem;
	}
}

// Handle Ultra Wide Screen
@media (min-width: 2100px) { .landing-bg { background-size: cover; } }
@media (min-width: 2580px) { .landing-bg { background-size: 3430px auto; } }

.charity-icons  {
	img {
		height: 70px;
		width: 70px;
	}
	.circle-arrow {
		cursor: pointer;
	}
}

.tabs-for-goods-slide-card {
	background-color: @gl-light-blue;

	.upper-cta {
		margin: 0 10em;

		.upper-cta-btn {
			margin: 0 8em;
		}
	}

	@media (max-width:768px) {
		.upper-cta { margin: 0; }
		.slideshow { display: none; }
	}

	@media (max-width:1200px) {
		.upper-cta { 
			margin: 0 1em;
			.upper-cta-btn { margin: 0; } }
	}


}

.slideshow {
	position: relative;
	height: 550px;

	.slide {
		position: absolute;
		height: 500px;
		overflow: hidden;
  	border-radius: 10px;
	}
	.slide.inactive {
		display: none;
	}

	.slide-left { background-color: #7CB9CE;  color: @ml-dark-blue; }
	.slide-left-2 { background-color: #F1D7D3; color: @ml-dark-blue; }
	.slide-right { 
		background-color: white; 
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		h3, p { color: @ml-dark-blue; }
	}

	.slideshowDots {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	.slideshowDot {
		display: inline-block;
		height: 20px;
		width: 20px;
		border-radius: 50%;
	
		cursor: pointer;
		margin: 15px 7px 0px;
	
		background-color: white;
	}
	
	.slideshowDot.active {
		background-color: @gl-dark-grey;
	}
}

.watch-video-section {
	background: linear-gradient(180deg, @ml-dark-blue 0%, @ml-blue 50%, @gl-light-blue 100%);
	color: white;

	@media (max-width: 768px) {
		.video-points {
			margin-bottom: 2em;
			display: flex;
			img { width: 150px !important; height: 150px; }
		}
	}
}

@media (max-width: 768px) {
	.sparks {display: none;}
}

.testimonial-section {
	background-color: @ml-dark-blue;
	color: white;

	.testimonial-upper > * {margin-bottom: 2rem;}

	.testimonial-right {
		background-color: white;
		color: @ml-dark-blue;
		.read-more {
			font-weight: bold;
			a {color: @ml-dark-blue}
		}
	}
	.testimonial-right > * {margin-bottom: 2rem;}

	@media (max-width: 768px) {
		.testimonial-points {
			margin-bottom: 2em;
			display: flex;
			img { width: 150px !important; height: 150px; }
			p {display: none;}
		}
	}
}

.get-involved-section {
	h3 {
		color: @ml-dark-blue;
	}
}

.tricard-inner {
	background: white;
	border-radius: 10px;
	height: 100%;
	text-align: center;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	overflow: hidden;
}

.charity-banner-logo {
	max-height: 200px;
	max-width: 200px;
	@media @width-mobile {
		max-width: 100%;
	}
}
