@import "../js/base/style/fonts.less";

.landing-bg {
	// height: 100vh;
	// width: 100%;
	// display: flex;

	h1, p, a{
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
	}

	.title {
		h1 {
			font-size: 2rem;
			text-transform: unset;
		}
	}

	.btn-newsletter {
		background-color: white !important;
		color: @gl-red !important;
		border: 3px solid @gl-red !important;
	}

}

.how-tabs-for-good-works {
	background-color: white;

	h1 {
		color: @gl-red;
		text-transform: uppercase;
	}
	h3 {
		color: @ml-dark-blue;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-weight: bold;
	}
}

.tabs-for-goods-slide-card {
	background-color: @gl-light-blue;
	margin: 0 auto;

	.upper-cta {
		color: white;
	}
}

.watch-video-section {
	background: linear-gradient(180deg, @ml-dark-blue 0%, @ml-blue 50%, @gl-light-blue 100%);
	color: white;
}

.testimonial-section {
	background-color: @ml-dark-blue;
	color: white;
}

.slideshow {
	position: relative;
	height: 300px;
	.slide {
		position: absolute;
	}
	.slide.inactive {
		display: none;
	}

	.slideshowDots {
		text-align: center;
	}
	
	.slideshowDot {
		display: inline-block;
		height: 20px;
		width: 20px;
		border-radius: 50%;
	
		cursor: pointer;
		margin: 15px 7px 0px;
	
		background-color: white;
	}
	
	.slideshowDot.active {
		background-color: @gl-dark-grey;
	}
}