@import "../js/base/style/colours.less";

/*
 Styling for replacement of impact hub, based of design https://miro.com/app/board/uXjVMaoHMrI=/

 Styling is structured so each card will have its own section selected via id
 A few mostly 
*/
#ImpactB2C-container {
	// useful global constants that are reliably defaults
	max-width: unset;
	padding: 0;
	text-align: center;
	background-color: @gl-white-blue;

	// we never want bullet points on lists
	ul {
		list-style-type: none !important;
	}

	// The structure of [content] [content] when moved to mobile is converted to [content] \n [content], this class just lets us apply that neatly
	.flex-mobile-dir {
		// copy row styling
		flex-direction: row;
		flex-wrap: wrap;
		margin-right: -15px;
		margin-left: -15px;

		@media @width-mobile {
			flex-direction: column;
			width: 100%;
			align-self: center;

			>* {
				margin-top: 5%;
			}
		}
	}

	// the page makes extensive use of a logo within a white circle, this class handles that
	.logo-circle {
		position: relative;
		margin: auto;
		background-color: white;
		border-radius: 50%;
		padding: 3%;
		width: 7vw;
		height: 7vw;

		@media @width-mobile {
			width: 12vh;
			height: 12vh;
		}

		.logo {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			height: 50% !important;
			width: unset;
			max-width: 80%;
		}
	}

	// the page makes use of several rows of [arm img ->] [sparkle] [logo] [sparkle] [<- arm img]
	.charities-arms-logo {
		display: flex;
		position: relative;
		width: 100%;
		height: 15vh;
		place-content: center;
		padding-top: 1%;

		.spark-1 {
			top: 40%;
			right: 25%;
		}

		.spark-2 {
			top: 25%;
			left: 30%
		}

		.arm {
			position: absolute;
			top: 20%;
			height: 100%;
		}

		.arm-left {
			left: 0;
		}

		.arm-right {
			right: 0;
		}
	}

	.bubble-spark,
	.spark {
		position: absolute;
		width: 5%;

		@media @width-mobile {
			display: none;
		}
	}

	// keep each piece of normal text (usually paragraph elements) standardized
	.text {
		font-weight: 600;
		white-space: pre-wrap;
		margin-bottom: 0;
	}

	// nearly every image on this page should just fill its container
	.fill-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	// splash card
	#i-splash {
		color: white;
		background: rgb(238,205,174);
		background: linear-gradient(0deg, rgba(238,205,174,1) 0%, rgba(148,187,233,1) 100%);
		justify-content: space-between;
		position: relative;
		padding: 2.5%;
		text-align: -webkit-center;

		h3 {
			z-index: 2;
		}
		
		#splash-raised {
			z-index: 2;
			position: absolute;
			top: 32.5%;

			p {
				font-size: xx-large;
				font-weight: 600;
				margin-bottom: -5% !important;
			}

			h2 {
				font-size: 500%;
			}
		}

		#splash-earth-gif {
			z-index: 1;
			position: absolute;
			max-width: 70vh;
			top: 10%;
		}
		
		.arm-gif {
			position: absolute;
			max-width: 15vw;
			&#arm-1{
				top: 40%;
				left: 0;
			}
			&#arm-2{
				top: 60%;
				left: 0;
			}
			&#arm-3{
				bottom: 0;
				left: 10%;
			}
			&#arm-4{
				bottom: 0;
				left: 20%;
			}
			&#arm-5{
				bottom: 0;
				left: 30%;
			}
			&#arm-6{
				bottom: 0;
				left: 40%;
			}
			&#arm-7{
				bottom: 0;
				left: 50%;
			}
			&#arm-8{
				bottom: 0;
				left: 60%;
			}
			&#arm-9{
				bottom: 0;
				left: 70%;
			}
			&#arm-10{
				bottom: 0;
				left: 80%;
			}
			&#arm-11{
				right: 0;
				top: 60%;
			}
			&#arm-12{
				right: 0;
				top: 45%;
			}
			&#arm-13{
				right: 0;
				top: 35%;
			}
		}
	}

	// Brand logo above a row of charity logos
	#brand-charities {
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			place-content: center;
			margin-bottom: 0;
			@media @width-mobile {
				padding: 5% 0 !important;
			}
			li {
				margin: 2%;
			}
		}
	}

	// Powered by gl card
	#powered-by-gl {
		padding: 2.5%;
		background-color: @gl-lighter-blue;
		position: relative;

		.adsForGood {
			max-width: 20%;

			@media @width-mobile {
				max-width: 75%;
			}

			margin: 2%;
		}

		.row {
			place-content: center;

			img {
				height: 10vh;
			}

			a {
				margin: 2%;
			}
		}

		.spark {
			width: 20%;
		}

		.spark-1 {
			top: 60%;
			right: 25%;
		}

		.spark-2 {
			top: 25%;
			left: 30%
		}
	}

	#how-it-works {
		background-color: @gl-impact-blue;
		color: white !important;
		padding: 5vh;
		justify-content: space-between;

		.hiw-curve {
			display: flex;
			justify-content: space-evenly;
			height: 80%;
			background-image: url("/img/Impact/Curved-line.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			background-position-y: 25%;
		}

		.hiw-col {
			display: flex;
			flex-direction: column;
			min-width: 25%;
			@media @width-mobile {
				margin-top: 15%;
			}

			.white-circle {
				height: 30vh;
				width: 30vh;
				border: 2px solid white;
				border-radius: 50%;
				overflow: hidden;
				place-self: center;
				margin: 10%;
				@media @width-mobile {
					margin: 2%;
				}
			}
		}
	}

	// rules for both campaign impacts
	.campaign-impact {

		.camp-impact-card {
			height: 45vh;
			overflow: hidden;
		}

		.camp-impact-img {
			padding: 0 !important;
		}

		.impact-section {
			display: flex;
			flex-direction: column;
			@media @width-mobile {
				width: 100vw !important;
			}
			.curve {
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}

			.normal-curve {
				filter: brightness(0.8);
			}

			.dark-curve {
				right: 2%;
				filter: brightness(0.5);
			}

			.cause-container {
				position: relative;
				z-index: 10;
				height: 100%;
				display: flex;
				flex-direction: column;
				place-content: center;
				text-align: left;
				padding: 10%;

				@media @width-mobile {
					padding: 5%;
				}

				color: white !important;

				.cause {
					font-weight: 600;
					font-size: larger;
				}

				.description {
					font-size: xxx-large;
					color: white !important;
					text-align: unset !important;
				}

				h2 {
					margin-bottom: 1rem;
				}
			}
		}

		.impact-row {
			justify-content: space-evenly;
			padding: 2.5%;
		}

	}

	/* TODO refactor -1 and -2 to share code */
	#campaign-impact-1 {
		background-color: @gl-dark-desat-blue;
		padding-bottom: 2.5%; /* pad the row tops and the section bottom for even padding */

		.impact-row {
			padding-bottom: 0;
		}

		#impact-one-toprow {

			.camp-impact-card {
				height: 40vh;
			}

			.left,
			.right {
				flex-basis: 45%;
				position: relative;
				overflow: hidden;

			}

			.right {
				background-color: rgb(83, 10, 1);
			}
		}

		#impact-one-botrow {
			.left {
				flex-basis: 30%;
				position: relative;
				// earth background
				background-image: url("/img/Impact/map-loading-screen.svg");
				background-position: center;
				background-size: 200%;
				background-repeat: no-repeat;
				background-position-y: 0;
				background-position-x: 70%; // center it a bit more otherwise we're just looking at america 
				background-color: @gl-impact-blue !important;

				@media @width-mobile {
					background-image: none;
				}

				// quote box around dyk fact: top/middle/bottom <img> elements stretch it as needed without deforming
				.quote-flex-bg {
					pointer-events: none; // don't block clicks
					position: absolute;
					z-index: 0;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					.quote-box {
						width: 100%;
						object-fit: cover;
						display: block;
						&.top {
							height: 45%;
							object-position: center top;
						}
						&.middle {
							height: 10%;
							object-position: center;
						}
						&.bottom {
							height: 45%;
							object-position: center bottom;
						}
					}
				}

				.dyk-container {
					flex-direction: column;
					place-content: center;
					text-align: left;
					height: 100%;
					padding: 15%;
					color: white !important;
					@media @ipad-max {
						padding: 25% 10% !important;
					}

					@media (max-width: 1180px) {
						padding: 25% 10% !important;
					}

					.dyk {
						font-weight: bold;
					}

					.fact {
						font-weight: 800;
						font-size: larger;
					}

					a {
						color: white !important;
					}
				}

			}

			.right {
				flex-basis: 60%;
			}
		} /* /#impact-one-botrow */
	} /* /.campaign-impact-1 */

	#campaign-impact-2 {
		background-color: @gl-lighter-blue;

		.impact-row {
			.left, .right {
				flex-basis: 45%;
			}
		}

		#row-2 {
			// Helping Fund 'Project Here'
			.right {
				padding: 5% !important;
				text-align: left;
				position: relative;

				.heart-bg {
					position: absolute;
					// turn red heart into light pink heart
					opacity: 0.1;
					filter: saturate(2);
					width: 40%;
					right: 20%;

				}

				.project-desc {
					font-weight: unset;
					font-size: small;

					@media @width-mobile {
						font-size: 100%; // ... on mobile it makes it tiny, so fix it there
					}
				}
				.testimonial-source {
					position: absolute;
					bottom: 10%;
					text-transform: uppercase;
					font-size: small;
					font-weight: 600;
					p {
						margin-bottom: 0;
					}
				}
			}
		}


	}

	#impact-making-a-diff {
		height: 90vh;

		#together-we-can-make-a-diff {
			height: 50%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;

			.brandlogo {
				width: 15%;
			}

			ul {
				list-style: none;
			}
		}

		#diff-powered-by-gl {
			height: 50%;
			background-image: url("/img/Impact/map-loading-screen.svg");
			background-color: @gl-lighter-blue;
			background-position-x: 80%;
			background-position-y: 20%;
			background-size: 150%;
			padding: 2.5%;

			.img-adsforgood {
				width: 20%;
				padding: 2.5%;
			}
		}
	}

	#get-involved {
		display: flex;
		flex-direction: column;
		padding: 2.5%;

		#social-TAG-row {
			place-content: center;
			width: 100%;
			// override Row default styling
			margin-left: 0 !important;
			margin-right: 0 !important;
			margin-bottom: 2%;

			.cta-image {
				width: 100%;
				height: 40%;
				object-fit: cover;
			}

			.cta-card {
				padding-bottom: 5%;
				width: 49%;

				@media @width-mobile {
					width: unset;
				}

				height: 60vh;
				position: relative;

				.link-logo {
					height: 10vh;
				}

				.row {
					justify-content: center;
					margin-bottom: 5%;
				}

				.btn,
				.row,
				p,
				h2,
				.social-media-links {
					margin-top: 5%;

					@media @width-mobile {
						margin-top: 10%;
					}
				}
			}

			#socials-cta {
				margin-right: 1%;
				background-color: white;
			}

			#TAG-cta {
				margin-left: 1%;
				background-color: @gl-dark-desat-blue;
				color: white !important;

				h2 {
					color: white !important;
				}
			}
		}

		#email-cta {
			height: 65vh;
			background-color: white;
			display: flex;
			position: relative;
			place-content: center;
			justify-content: space-evenly;
			flex-direction: column;
			text-align: -webkit-center;

			// input labels
			label {
				color: @gl-grey;
				width: 100%;
				text-align: left;
				margin-bottom: 0;
			}

			.hs-input {
				color: lightgrey;

			}

			.input:focus-visible {
				color: @gl-grey;
			}

			// input text div
			.hs-fieldtype-text {
				width: 35%;
				padding-top: 2.5%; // make sure there's enough space for the "Please complete this required field." error message to pop up beneath

				@media (max-width: 767px) {
					// stops the text from narrowing & messing up spaces on phones
					width: 80% !important;
				}

				.hs_error_rollup {
					display: none;
				}


				// checkbox input
				.legal-consent-container {
					width: 35%;
					margin: auto;
					margin-top: 20px;

					.inputs-list {
						padding-left: 0;
					}

					@media (max-width: 767px) {
						// stops the text from narrowing & messing up spaces on phones
						width: 80% !important;
					}

					// center the checkbox vertically with its text
					label {
						display: flex;

						input {
							align-items: center;
							transform: translateY(-1rem); // centering it has a wee bit of offset, this fixes that
						}
					}

				}


				// input element
				.hs-input {
					border: 1px solid gray;
					font-size: 1.3rem; // couldn't find an already defined large normal text
					border-radius: 5px;
					padding: 10px 5px 5px 5px; // shift text slightly down to better center it in the input
					width: 100%;
				}

			}

			// warning that pops up if user tries to submit with empty field
			.hs-error-msgs {
				padding-left: 0; // shift label to match with the start of the input field
				margin-bottom: 0;
			}

			// "please complete all required fields" is unnecessary as both text fields already warn
			.hs_error_rollup {
				display: none;
			}


			// checkbox input
			.legal-consent-container {
				width: 35%;
				margin: auto;
				margin-top: 20px;

				.inputs-list {
					padding-left: 0;
				}

				@media (max-width: 767px) {
					// stops the text from narrowing & messing up spaces on phones
					width: 80% !important;
				}

				// center the checkbox vertically with its text
				label {
					display: flex;

					input {
						align-items: center;
						transform: translateY(-1rem); // centering it has a wee bit of offset, this fixes that
					}
				}

			}

			.hs_submit {
				.actions {
					align-items: center;
					display: flex;
					flex-flow: column wrap;
				}
			}
		}
	}

	#donation-details {
		display: flex;
		background-color: white;
		margin-left: 10%;
		margin-right: 10%;
		min-height: 40vh;
		margin: 2.5%;
		padding: 2.5%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;

		.impact-debit-container {
			.impact-debit {
				flex-basis: 30%; // keep to 3 a row
				display: flex;
				flex-direction: column;
	
				@media @width-mobile {
					flex-basis: 100%; // on mobile though, 1 per row
				}
	
				height: 40vh;
				box-shadow: 0 0 10px black;
				overflow: hidden;
				border-radius: 2.5%;
				margin-bottom: 2.5%;
	
				.debit-content {
					flex: 1;
					width: 100%;
					padding: 2.5%;
					padding-left: 5%;
					text-align: left;
					position: relative;
				}
	
				.debit-header {
					width: 100%;
					height: 60%;
					object-fit: cover;
				}
	
				.debit-logo {
					position: absolute;
					right: 5%;
					bottom: 5%;
					width: 20%;
				}
	
				.debit-name {
					color: @gl-blue;
					font-size: larger;
					opacity: 0.5;
					margin-bottom: 5%;
				}
	
				.debit-amount {
					color: @gl-impact-red;
					font-size: x-large;
					font-weight: 600;
				}
			}
			// 3 to a row & space them out
			flex-basis: 30%;
			margin: 1% 1%;
			background: none;
			@media @width-mobile {
				flex-basis: 100%;
				margin-left: 0;
				padding: 2.5% 5%;
			}
		}

		@media @width-mobile {
			// on mobile there's a tiny bit of extra padding that squishes the components, this fixes
			margin-left: 0;
			padding: 0;
		}

	}

	#learn-more {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: space-evenly;
		align-items: center;

		.link-row {
			justify-content: space-evenly;
		}

		.learn-more-box {
			display: flex;
			flex-direction: column;

			max-width: 20%;

			@media @width-mobile {
				max-width: unset;
				margin: 5% auto;
			}

			flex-basis: 20%;
			height: 60%;

			.link-img {
				width: 100%;
				height: 40vh;

				@media @width-mobile {
					// on mobile, squish the row into a column
					height: 35vh;
					width: 35vh;
				}

				object-fit: cover;
			}

			.text-link {
				font-size: 115%;
				font-weight: 700;
				padding: 5%;
				color: @gl-red;
			}
		}
	}

	// splash card, split into [padding div, curve, content]
	#stories-splash {
		margin-top: 5rem; // see .impactOverview-filters-and-account
		height: calc(100vh - 5rem);
		position: relative; // enable as position reference for background imagesa
		
		#splash-bg {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: 0;
			@media (max-width: 820px) {
				height: 60%;
			}
		}

		#splash-curves {
			width: 100%;
			height: 100%;
			filter: opacity(0.8);
			position: absolute;
			@media (max-width: 820px) {
				display: none;
			}
			.padding-div, .splash-bgColor {
				flex: 1;
				-webkit-flex: 1;
				height: 100%;
				flex-grow: 1;
			}

			.splash-curve {
				flex-basis: fit-content;
				-webkit-flex-basis: fit-content;
				height: 100%;
			}

			.splash-bgColor {
				background-color: #5d838f;
			}
		}



		.splash-curve-mobile {
			display: none;
		}

		@media (max-width: 820px) {
			.splash-curve-mobile {
				display: block;
				position: absolute;
				bottom: 50%;
				width: 100%;
			}

			#splash-curve-mobile-1 {
				bottom: 51%;
				filter: brightness(1.2);
			}

			.padding-div {
				display: none;
			}
		}

		#splash-content {
			// aim to align content within the coloured parts of the splash (rhs of page)
			padding: 5% 2.5% 5% 5%; // slightly moved to the right of container
			position: absolute;
			right: 0;
			align-self: center;
			height: 100%;
			width: 50%;
			// position within the col neatly
			color: white !important;
			display: flex;
			flex-direction: column;
			align-items: center;
			place-content: space-around;

			h1 {
				font-size: 250%;
			}

			.logo-circle {
				width: 25vh;
				height: 25vh;
				margin: unset;
			}

			.adsForGood {
				width: 50%;
			}

			@media (max-width: 820px) {
				padding: 0 0 10% 0;
				height: 50%;
				width: 100%;
				background-color: rgb(66, 119, 135);
				position: absolute;
				bottom: 0;

				h1 {
					font-size: x-large;
					padding: 0 10%;
				}

				.logo-circle{
					width: 30vw !important;
					height: 30vw !important;
				}
			}
		}
	}

	#campaign-spotlight {
		// Arrange text and ad-preview side-by-side on wide screens, stack up on narrower ones
		min-height: 80vh;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		overflow: hidden;

		background-image: url("/img/Impact/earth-curve.png");
		background-size: cover;
		background-position: center;

		#campaign-info {
			text-align: left;

			h1 {
				// total raised
				font-size: 400%;
			}

			h2 {
				// 'Raised....'
				text-align: left; // override default .page-impact .h2 alignment
				text-transform: unset;
				font-size: 200%;
			}
			// base paragraph text somewhat small for period line
			.campaign-grouped-content.below {
				font-size: 125%;
			}
		}

		// The ad preview container - phone frame with leaves
		.ad-deco-cont {
			position: relative;
			height: fit-content;
			width: 100em; // Define width as always being 100em & size children in em to maintain proportions...
			font-size: 0.45vw; // ...and set font size to change overall size

			.spotlight-ad {
				position: relative;
				z-index: 10;

				// Black background for screen & sizer for ad content
				.phone-screen {
					position: absolute;
					background: black;
					top: 3.5em;
					bottom: 3.5em;
					left: 3.3em;
					right: 3.3em;
				}
				
				.phone-container {
					pointer-events: none; // sorted in front of adunit, shouldn't catch clicks/taps
					position: relative;
					z-index: 10;
					// Minor hack: ensure frame image has correct size before it loads,
					// so carousel inside can correctly measure available space
					width: 100%;
					aspect-ratio: 265/150; // px sizing of phone frame SVG
				}
				.ads-catalogue {
					height: 100%; // so contents will be vertically centred in phone frame
				}
				.main-carousel {
					width: 90%; // don't let corners/edges get cut off by screen rounding or notch
				}
			}

			.spotlight-decoration {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				.decoration {
					position: absolute;
				}
				.leaves {
					width: 38em;
				}
				.leaves-1 {
					top: -22em;
					left: -9em;
				}
				.leaves-2 {
					bottom: -22em;
					right: -9em;
					rotate: 180deg;
				}
				.leaves-3 {
					top: 22em;
					right: -18em;
					rotate: 70deg;
					transform: scaleX(-1);
				}
				.sparkle {
					width: 12em;
					top: -15em;
					left: 0;
				}
			}
		} // /.ad-deco-cont

		// Narrower than e.g. small laptop screens = stack desc + ad preview vertically
		@media (max-width: 1080px) {
			display: block; // vertical arrangement = no flex needed
			min-height: unset; // natural height is fine in this layout
			// centre text
			#campaign-info {
				text-align: center;
				margin-top: 1em;
				h2 {
					text-align: center;
				}
			}
			.ad-deco-cont {
				font-size: 0.7vw; // = 70vw overall width
				margin: auto; // self centre
				margin-bottom: 12vw; // breathing room for decorations
			}
			// push the period line below the ad preview
			.campaign-grouped-content.below {
				position: relative;
				top: 45vw;
				margin-bottom: -1em;
			}
			// move the top-left leaf away from the text above
			.leaves-1 {
				transform: rotate(-30deg);
				left: -12em;
			}
		}
	}


	#impact-footer-container {
		position: relative;
		min-height: 80vh;
		height: fit-content;

		#stories-footer {
			margin: auto;
			height: 100%;
			width: 100%;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			place-content: space-around;

			ul {
				display: flex;
				flex-direction: row;
			}

			p {
				font-size: larger;
			}

			.topRow,
			.adsForGood,
			ul {
				height: fit-content;
				width: 100%;
				flex-wrap: wrap;
				place-content: center;
				padding: 0 5%;
				
				li {
					padding: 1%;
				}
			}
		}

		#images-combined {
			position: absolute;
			top: 0;
			left: 0;
			width: 30vw;
		}
	}
}
