.page-iview {

    h1 {
        color: @gl-impact-red;
    }

    h2 {
        color: @gl-impact-red;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        color: @gl-impact-red;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }

    h5 {
        color: #707070;
        text-align: center;
    }

    .white-circle {
        background-color: white;
        border-radius: 50%;
    }

    .glcard {

        &.center-number {
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        
        &.preview {
            .card-body {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &.campaign {
                .card-body {
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        &.offset-card {
            //d-flex flex-row justify-content-center align-items-stretch
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            overflow: hidden;

            .offset-number {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .carbon-neutral {
                flex-basis: 50%;
                background-image: url("/img/Impact/curves-background.svg");
                background-size: cover;
                background-position: center;
            }
        }
    }

    .hero-card {
        background: url("/img/Impact/world-image-cropped.png");
        background-position: center;
        background-size: cover;
        position: relative;
        
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .white-circle {
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                aspect-ratio: 1/1;

                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .glmodal {

        &.list-modal {
            .glmodal-body {
                background-color: @gl-background-default;
                .glcard {
                    background-color: white;
                }
            }
        }

        &.charity-info {
            .card-header {
                height: 10rem;
                .white-circle {
                    width: 10rem;
                    height: 10rem;
                    position: absolute;
                    top: 5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    .logo {
                        width: 100%;
                    }
                }
            }
            .charity-body {
                margin-top: 5rem;
            }
        }

        &.co2-offset {
            .bg-co2-offset {
                background-image: url("/img/Impact/curves-background.svg");
                background-size: cover;
                background-position: center;
            }
            .header-overlay {
                position: absolute;
                bottom: 0;
                left: 2rem;
                width: 25%;
            }
        }

        &.ads-catalogue-modal {
            
            .glcard {
                background-color: @gl-impact-dark;

                .goodLoopContainer {
                    background-color: black;
                }
                
                .ads-catalogue {
                    height: 100%;
                    max-height: 100%;

                    .pointer-wrapper {
                        cursor: pointer;
                
                        .ad-prev {
                            pointer-events: none;
                            overflow: hidden;
                            border: 5px solid transparent;
                            transition: 0.2s;
                        }
                
                        &.selected {
                            cursor: default;
                
                            .ad-prev {
                                border-radius: 5px;
                                border: 5px solid red;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }

}

.navbars-overlay {
    //position-fixed d-flex flex-row justify-content-center align-items-start
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;

    * {
        pointer-events: auto;
    }
}

.iview-container {
    @media @md-min {
        display: flex;
        height: 90vh;
        width: 100%;
        margin-top: 10vh;
    }
}

#navbars-overlay {
    position: fixed;
    display: flex;
}

#iview-container {
    margin-top:60px;
    margin-left: 0 !important;
    width: 100% !important;
}


#in-flow-navbar {
    height: 30px;
}
