.page-iview {

    h1 {
        color: @gl-impact-red;
    }

    h2 {
        color: @gl-impact-red;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        color: @gl-impact-red;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
    }

    h5 {
        color: #707070;
        text-align: center;
    }

    .white-circle {
        background-color: white;
        border-radius: 50%;
    }

    .glcard {

        &.center-number {
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        
        &.preview {

            .card-body {
                padding: 0.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            &.campaign {
                .card-body {
                    padding: 0.5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        &.offset-card {
            //d-flex flex-row justify-content-center align-items-stretch
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            overflow: hidden;

            .offset-number {
                flex-basis: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .carbon-neutral {
                flex-basis: 50%;
                background-image: url("/img/Impact/curves-background.svg");
                background-size: cover;
                background-position: center;
            }
        }

        &.ad-boast .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
            h1,h2,h3,h4,h5 {
                margin: 0;
            }

            h2 {
                font-size: 1.4rem;
            }
            h3 {
                font-size: 1rem;
            }
            h4 {
                font-size: 0.8rem;
            }
            h5 {
                font-size: 0.6rem;
            }

            .text-bold {
                font-weight: bolder;
            }

            .question-icon {
                position: absolute;
                top: 10px;
                right: 10px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                background-color: @gl-impact-red;
                color: white;
                width: 1.5rem;
                text-align: center;
                font-size: 1rem;
            }
        }

        &.logos-display {
            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .a4glogo {
                    width: 10rem;
                }
            }
        }
    }

    .iview-grid {
        @media @width-mobile {
            background-color: @gl-impact-red;
        }
    }

    .hero-card {
        background: url("/img/Impact/world-image-cropped.png");
        background-position: center;
        background-size: cover;

        @media @width-mobile {
            margin: 0 !important;
            border-radius: 0;
        }
        
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .white-circle {
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                aspect-ratio: 1/1;

                @media @width-mobile {
                    height: unset;
                    width: 95%;
                }

                .content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .glmodal {

        &.list-modal {
            .glmodal-body {
                background-color: @gl-background-default;
                .glcard {
                    background-color: white;
                }
            }
        }

        &.charity-info {
            .card-header {
                height: 10rem;
                .white-circle {
                    width: 10rem;
                    height: 10rem;
                    position: absolute;
                    top: 5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    .logo {
                        width: 100%;
                    }
                }
            }
            .charity-body {
                margin-top: 5rem;
            }
        }

        &.co2-offset {
            .bg-co2-offset {
                background-image: url("/img/Impact/curves-background.svg");
                background-size: cover;
                background-position: center;
            }
            .header-overlay {
                position: absolute;
                bottom: 0;
                left: 2rem;
                width: 25%;
            }
        }

        &.ads-for-good {
            .header-overlay {
                position: absolute;
                bottom: -4rem;
                left: 0;
                width: 40%;
            }
        }

        .inmodal-wrapper {
            .glcard-outer {
                display: block;
            }
            .img-bg {
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
            }
            .rates {
                width: 50%;
                @media @width-mobile {
                    width: 100%;
                }
                margin: auto;
                color: white;
            }
            h3 {
                font-weight: bolder;
            }
        }

        &.this-ad-does-good {
            h3 {
                color: @greenmedia-darkcyan;
            }
        }

        &.ads-catalogue-modal {
            
            .glcard {
                background-color: @gl-impact-dark;

                .goodLoopContainer {
                    background-color: black;
                }
                
                .ads-catalogue {
                    height: 100%;
                    max-height: 100%;

                    .pointer-wrapper {
                        cursor: pointer;
                
                        .ad-prev {
                            pointer-events: none;
                            overflow: hidden;
                            border: 5px solid transparent;
                            transition: 0.2s;
                        }
                
                        &.selected {
                            cursor: default;
                
                            .ad-prev {
                                border-radius: 5px;
                                border: 5px solid red;
                                transition: 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }

}

.navbars-overlay {
    //position-fixed d-flex flex-row justify-content-center align-items-start
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;

    * {
        pointer-events: auto;
    }
}

.iview-container {
    margin-top:60px;
    margin-left: 0 !important;
    width: 100% !important;

    @media @md-min {
        display: flex;
        margin-top: 10vh;
    }

    .iview-grid {
        @media @md-min {
            display: flex;
            height: 90vh;
            width: 100%;
        }
    }

    @media @width-mobile {
        padding: 0;
    }
}

// fixed navbar and filters on layer above page content
.navbars-overlay {
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: initial;

        .impactOverview-filters-and-account {
            flex-grow: unset;
        }

        #impact-overview-navbar-smallscreen{
            padding: 0;

            ul {
                width: 100%;
                justify-content: space-evenly;
                background-color: white;
            }

            li {
                width: 33%;
            }
        }
    }

}


#in-flow-navbar {
    height: 30px;
}


