
@import "../js/base/style/fonts.less";

/*

TODO: CSS Clean-Up to be more modular and robust

Redefining font stuff (font family or size) or basic tags (e.g. h1,h2,p,a) for a specific section is usually a mistake, 
as it leads to inconsistent styling + harder to maintain css.

For the css below that deals in font/text matters:
 - Can we remove this?
 - ...If not, should it be promoted to a general rule?
 - ...If not, add a comment

*/

@keyframes scroll-arrow-nudge {
	from {
		bottom: 50%;
	}
	to {
		bottom: 5%;
		opacity: 1;
	}
}

.landing-bg {
	height: @fullHeight;
	width: 100%;
	display: flex;


	@media @width-mobile {
		.share-btn {
			bottom: 100px !important;
			left: 50% !important;
			transform: translateX(-50%);
			z-index: 999;
		}
	}

	.btn-newsletter {
		color: @gl-orange;
		border: 3px solid @gl-orange;
	}

	.btn-newsletter:hover:not(.disabled) {
		color: @gl-light-orange !important;
		border: 3px solid @gl-light-orange !important;
	}

	.title {
		margin: auto;
		display: flex;
		flex-direction: column;
		z-index: 1;
		color: black;
	
		//// CTA Header text /////
		// TODO avoid pverriding text styles (or document it)
		h1 {
			font-family: 'Montserrat', sans-serif;
			font-weight: normal;
			font-size: 2.5rem;
			/* text-shadow: 0px 1px 3px black; */
			margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
			@media @width-mobile {
				font-size: 2rem;
			}
		}
		// Hack - will globalise later, put like this to not interfere with CampaignPage styling for now
		p {
			font-size: 1.5rem;
			/* text-shadow: 0px 3px 6px rgba(0,0,0,0.5); */
			font-family: 'Montserrat', sans-serif;
			@media @width-mobile {
				font-size: 1.2rem;
			}
		}
	}

	// Custom scroll button. Rules define position, shadow and hover behaviour of img element.
	.scroll-down-button {
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		opacity: 0;
		bottom: 50%;
		filter: drop-shadow(1px 1px 2px black);
		z-index: 999;
		transition: 0.2s;
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
			transition: 0.2s;
		}
		// Adjustment for tiny screens
		@media screen and (max-height: 529px) {
			bottom: 2%;
			width: 45px;
		}
		animation-name: scroll-arrow-nudge;
		animation-delay: 2s;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		animation-fill-mode: forwards;
	}
}