
@import "../js/base/style/fonts.less";

/*

TODO: CSS Clean-Up to be more modular and robust

Redefining font stuff (font family or size) or basic tags (e.g. h1,h2,p,a) for a specific section is usually a mistake, 
as it leads to inconsistent styling + harder to maintain css.

For the css below that deals in font/text matters:
 - Can we remove this?
 - ...If not, should it be promoted to a general rule?
 - ...If not, add a comment

*/



.landing-bg {
	height: 100vh;
	width: 100%;
	display: flex;

	@media @md-max {
		.share-btn {
			bottom: 100px !important;
			left: 50% !important;
			transform: translateX(-50%);
			z-index: 999;
		}
	}

	.background-image {
		filter: brightness(0.9);
		position: absolute;
		width: 100%;
		height: 100%;
		max-height: 100vh;
		display: flex;
		flex-direction: row;

		.mobile-img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

		/* Thin vertical strips of a few images - if you hover over one, it will expand.
		NB: mobile uses one fixed image (which is done in code) */
		.hover-expand-image {
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			flex-grow: 1;
			flex-basis: 0;
			transition: flex-grow 0.85s;
			&:hover {
				flex-grow: 3;
				transition: flex-grow 0.85s;
			}
		}
	}

	.title {
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		z-index: 1;
		color: white;
	
		//// CTA Header text /////
		h1 {
			font-family: 'Montserrat', sans-serif;
			font-weight: normal;
			font-size: 5rem;
			text-transform: none;
			text-shadow: 0px 1px 3px black;
			margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
			align-self: center;
			@media @md-max {
				font-size: 2rem;
			}
		}
	}

	// Custom scroll button. Rules define position, shadow and hover behaviour of img element.
	.scroll-down-button {
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;
		margin: 0 auto;
		filter: drop-shadow(1px 1px 2px black);
		z-index: 999;
		&:hover {
			cursor: pointer;
		}
		// Adjustment for tiny screens
		@media screen and (max-height: 529px) {
			bottom: 2%;
			width: 45px;
		}
	}
}
