@import "../js/base/style/main-base.less";
@import "MyPage.less";
@import "DonationCircleWidget.less";
@import "flex.less";
@import "navbar.less";
@import "CampaignPage.less";

// Set base size for rem
html, body {
	font-size: 20px;
}

.header {
	.header-font();
	color: @gl-red;
	font-size: 2.618rem;
	line-height: initial;
} 

.sub-header {
	.sub-header-font();
	font-size: 1.618rem;
}

.pad1 {
	padding: 1rem;
}

.pad3 {
	padding: 3rem;
}

.pad10 {
	padding: 10rem;
}

.right-pad1 {
	padding-right: 1rem;
}

.top-pad1 {
	padding-top: 1rem;
}

.top-pad3 {
	padding-top: 3rem;
}

.bottom-pad1 {
	padding-bottom: 1rem;
}

.mt-1 {
	margin-top: 1rem;
}

// Used to give achievements rows a more even height
.min-height-15 {
	min-height: 15rem;
}

// Base style for intent links on MyLoop
.intent-link {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	
	display: flex;
	justify-content: center; 
	align-items: center;

	img {
		height: 3.5rem;
		width: 3.5rem;
	}
}

// TODO (18/04/19): consider coming back and removing this
.intent-link-border {
	border: 3px solid;
}

.background-gl-red {
	background-color: @gl-red;
}

.background-gl-dark-blue {
	background-color: @gl-dark-blue;
}

.background-gl-dark-grey {
	background-color: @gl-dark-grey;
}

.background-gl-light-grey {
	background-color: @gl-light-grey;
}

.text-shadow-light-blue {
	text-shadow: @gl-light-blue 2px 2px;
}

.margin-auto {
	margin: auto;
}

.vh-100 {
	height: 100vh;
}

.gl-red {
	color: @gl-red;
}

.white {
	color: #fff;
}

.width100pct {
	width: 100%;
}

// Make blocks of text more readable
.text-block {
    text-align: left;
    line-height: 1.5rem;
    // Restrict max characters per line to < 70 or so
    // Helps to improve readibility
    max-width: 35rem;
}

// Useful in headers
.compact-text-block {
	.text-block();
	line-height: 1.4rem;
	max-width: 20rem;
}

// Little red strip used for decoration
.highlight {
	&:after {
		display: block;
		content: "";
		height: 3px;
		// Darken to look more reasonable with dark green background
		background: @gl-light-blue;
	}
}

// Dark BootStrap link colour looks terrible with MyLoop's coloured backgrounds
a {
	color: #000;
	text-decoration: underline;
}

// Override as grey border doesn't look good with red background
.footer {
	border-top: none;
}

.btn {
	text-decoration: none;
}

.intro-item {
	height: 10rem;
}

.btn-primary {
	background-color: @gl-red !important;
	border-color: darken(@gl-red, 10%) !important;
}

.link.watch-cta {
	font-family: initial; // go back to using montserrat (looks nicer)
	background-color: @gl-red; // TODO: this should be set as less var gl-colour
	color: white; // otherwise it will be set as black (default colour?)
	padding-top: 6vh; // give it some space, looks less cluttered this way
	font-size: 2.5vh; // make it pop out responsively
}

@media only screen and (max-width: 1100px) {
	html, body {
		font-size: 16px;
	}

	.header-card {
		.logo-big {
			display: none;
		}
	}
}

@media only screen and (max-width: 578px) {
	html, body {
		font-size: 14px;
	}
}
