@import "../js/base/style/main-base.less";
@import "../js/base/style/colours.less";
@import "../js/base/style/flex.less";

@import "MyPage.less";
@import "CampaignPage.less";
@import "AccountPage.less";
@import "navbar.less";
@import "MyLoginWidget.less";
@import "CharityPicker.less";
@import "LandingSection.less";

// Rules below are not specific to any MyLoop page

// Set base size for rem
html, body {
	background-color:#eeeaea; // warm off-white - still feels open but falls back from page content
	.horizontal-scrollbar {
		overflow-x: hidden;
	}
}

.header {
	.header-font();
	font-size: 2.618rem; // ?? TODO no rem sizing
	line-height: initial;
} 

.sub-header {
	.sub-header-font();
	font-size: 1.618rem; // ?? TODO no rem sizing
}

// Make blocks of text more readable
.text-block {
	text-align: left;
	line-height: 1.25rem; // TODO no rem sizing
	// Restrict max characters per line to < 70 or so
	// Helps to improve readibility
	max-width: 35rem; // TODO no!
}

// Useful in headers
.compact-text-block {
	.text-block();
	line-height: initial;
	max-width: 20rem; // TODO no!
}

.img-block-basic {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

// background-image will be set in JS
.img-block {
	width: 100%;
	height: 100%;

	.img-block-basic();
}

// Use in conjunction with img-block
.img-hero {
	position: absolute;
	z-index: -1;
	top: 0;
	filter: blur(5px);
	background-attachment: fixed;
}

// Dark BootStrap link colour looks terrible with MyLoop's coloured backgrounds
a {
	color: #000;
	text-decoration: underline;
}
a.btn {
	text-decoration: none;
}

// Override as grey border doesn't look good with red background
.footer {
	border-top: none;
	background-color: #fff;
	color: #000;
	text-align: center;
	font-size: 1rem;

	.social-links img {
		background-color: @gl-red;
		width: 3rem;
		margin: 1rem;
	}

	a {
		color: @gl-red;
		cursor: pointer;
	}

} // ./footer

.btn-primary {
	background-color: @gl-red !important;
	border-color: darken(@gl-red, 10%) !important;
}

.word-wrap {
	/* c.f. https://stackoverflow.com/posts/40442295/revisions */
	overflow-wrap: break-word;
	// word-break: break-all; < deprecated approach
}


// FIXME WHAT are these hacks fixing??
// BS4 Modal hack. Should be replaced with new unique modal.
.modal {
	.modal-dialog {
		// chunky wide dialogs on laptop or desktop
		@media (min-width: 576px) {
			max-width: 700px;
		}
	}
}

// The "Connect on email/Twitter/Facebook" widget
.social-media-card {
	padding: 0.5rem 1rem;
	// Default width: wide enough to show full "Connect with X" text
	font-size: 120%;
	width: 14em;

	.tagline {
		color: white;
		.contrast-text;
		line-height: 1;
		font-size: 90%;
	}

	.btn {
		font-size: 100%; // Override Bootstrap's explicit px sizing for contextual sizing
	}

	.btn, .social-connected {
		line-height: 1;
		overflow: hidden; // people can have long names!
		margin-bottom: 0.5rem; // enclosing in p-1 was making them stack up too tall
		width: 100%; // equal width for prettiness, set explicit width on the social-media-card in question
		text-align: left; // icons in a vertical line
	}
}

// Mimic Bootstrap button styling on the non-button "connected" indicator
.social-connected {
	display: flex;
	align-items: center;
	padding: 0.25rem 0.75rem;
	border-radius: 0.25em;

	.user-pic {
		display: inline-block;
		position: relative;
		overflow: hidden;
		height: 2em;
		width: 2em;

		border-radius: 0.1em;
		> * {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}

	// The "(icon) Connected" status line
	.connected {
		font-size: 66%;
	}
	.connected, .name { // And the username too
		line-height: 1;
	}
}





.logo-base {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

// Just a copy of the adunit's charity logos
.round-logo {
	.logo-base();
	border: 1px solid grey;
	border-radius: 50%;
	background-color: #fff;
	height: 5rem;
	width: 5rem;
}

// ??what is the use-case (and so could this be simpler?)
.square-logo {
	.logo-base();
	// Square size that occupies 1/3 of screen-width
	width: 33%;

	
	// Percentage margin is calculated based on parent's width
	// So to give an element a specific aspect, place an empty dummy element in-flow with a % top-margin
	.squarener {
		margin-top: 100%;
	}

	// Link should make the entire div clickable
	.logo-link {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		text-decoration: none; // no floating underline!
		z-index: 999; // always in front, even if it's accidentally placed earlier than other elements
	}

	// Want to position child elements absolutely
	position: relative;

	// Place small advertiser logo in top-left
	.vertiser-logo {
		width: 25%;
		position: absolute;
		left: 5%;
		top: 5%;
	}

	.campaign-name{
		position: absolute;
		bottom: 5%;
		left: 5%;
		width: 90%; // 100% minus the 5% each side of fake padding implied by the element's positioning
	}
} // ./square-logo

/** Make sure the text is readable when using images as a backdrop. 

NB: to handle the ugly corner case of dynamic colours, we use a flexible grey shadow.
This issue appears on http://testmy.good-loop.com/#campaign/?gl.vert=CeuNVbtW where the £16k is dynamically black
*/
.contrast-text {
	// black or gl-red text
	text-shadow: 0.05em 0.05em 0.1em rgba(0.5,0.5,0.5,0.5); // white;

	// .white, &.white {
	// 	text-shadow: 0.05em 0.05em 0.1em #666;
	// }
	// .black, &.black, .color-gl-red, &.gl-color-red {
	// 	text-shadow: 0.1em 0.1em white;
	// }
}

// Font sizing:
// No smaller than 14px, no larger than 18px, and scale relative to viewport width between those values
@media (max-width: 466px) {
	html, body {
		font-size: 14px;
	}
}
@media (max-width: 800px) {
	html, body {
		font-size: 16px;
	}
}
@media (min-width: 800px) {
	html, body {
		font-size: 18px;
	}
}