@import "../js/base/style/main-base.less";
@import "../js/base/style/colours.less";
@import "../js/base/style/flex.less";

@import "MyPage.less";
@import "CampaignPage.less";
@import "AccountPage.less";
@import "navbar.less";

// Rules below are not specific to any MyLoop page

// Set base size for rem
html, body {
	font-size: 20px;
}

.header {
	.header-font();
	font-size: 2.618rem;
	line-height: initial;
} 

.sub-header {
	.sub-header-font();
	font-size: 1.618rem;
}

// TODO use bootstrap instead
.pad1 {
	padding: 1rem;
}

.pad2 {
	padding: 2rem;
}

.pad3 {
	padding: 3rem;
}

.pad5 {
	padding: 5rem;
}

.pad10 {
	padding: 10rem;
}

.right-pad1 {
	padding-right: 1rem;
}

.top-pad1 {
	padding-top: 1rem;
}

.top-pad3 {
	padding-top: 3rem;
}

.bottom-pad1 {
	padding-bottom: 1rem;
}

.bottom-pad2 {
	padding-bottom: 2rem;
}

.margin0 {
	margin: 0;
}

.margin1 {
	margin: 1rem;
}

.top-margin0{
	margin-top: 0;
}

.top-margin1 {
	margin-top: 1rem;
}

// Used to give achievements rows a more even height
.min-height-15 {
	min-height: 15rem;
}

.social-button-link {
	display: inline-block;
	background-color: unset;
	margin: 0 1rem;
	text-decoration: none;
}

// Base style for intent links on MyLoop
.intent-link {
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	margin: 0 1rem 0 0;

	display: flex;
	justify-content: center; 
	align-items: center;

	img {
		height: 3.5rem;
		width: 3.5rem;
	}
}

// Override to make intent links a bit smaller
// Only used by "social connect" button currently
.intent-link-small {
	.intent-link();
	height: 3rem;
	width: 3rem;
}

// TODO (18/04/19): consider coming back and removing this
.intent-link-border {
	border: 3px solid;
}

.vh-100 {
	height: 100vh;
}


.width100pct {
	width: 100%;
}

.width50pct {
	width: 50%;
}

// Very specific, only used by block of text near bottom of page
// Would just shift to ".bottom-bit-of-text-at-bottom-of-page", but this would be the only rule in there anyway
.width20 {
	width: 20rem;
}

// Make blocks of text more readable
.text-block {
    text-align: left;
    line-height: 1.5rem;
    // Restrict max characters per line to < 70 or so
    // Helps to improve readibility
    max-width: 35rem;
}

// Useful in headers
.compact-text-block {
	.text-block();
	line-height: initial;
	max-width: 20rem;
}

.font-bold {
	font-weight: bold;
}

// Little black strip used for decoration
.highlight {
	&:after {
		display: block;
		content: "";
		height: 2px;
		// Darken to look more reasonable with dark green background
		background: #000;
	}
}

.img-block-basic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

// background-image will be set in JS
.img-block {
    width: 100%;
    height: 100%;

	.img-block-basic();
}

// Use in conjunction with img-block
.img-hero {
    position: absolute;
    z-index: -1;
    top: 0;
    filter: blur(5px);
    background-attachment: fixed;
}

// Dark BootStrap link colour looks terrible with MyLoop's coloured backgrounds
a {
	color: #000;
	text-decoration: underline;
}

// Override as grey border doesn't look good with red background
.footer {
	border-top: none;
	background-color: #fff;
	color: #000;

	.social-links img {
		background-color: @gl-red;
		width: 3rem;
		margin: 1rem;
	}

}

.btn {
	text-decoration: none;
}

.intro-item {
	height: 10rem;
}

.btn-primary {
	background-color: @gl-red !important;
	border-color: darken(@gl-red, 10%) !important;
}

.word-wrap {
	word-break: break-all;
}

.logo-base {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

// Just a copy of the adunit's charity logos
.round-logo {
	.logo-base();
	border: 1px solid grey;
	border-radius: 50%;
	background-color: #fff;
	height: 5rem;
	width: 5rem;
}


.square-logo {
	.logo-base();
	// Square size that occupies 1/3 of screen-width
	width: 32vw;
	height: 32vw;
	margin: 0.25rem auto;

	// Want to position child elements absolutely
	position: relative;

	// Place small advertiser logo in top-left
	img {
		width: 25%;

		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
	}

	.text-container {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;

		text-align: right;
		width: 100%;
	}
}

.logo-big {
	width: 7rem;
	height: auto;
}

@media only screen and (max-width: 1100px) {
	html, body {
		font-size: 16px;
	}

	.header-card {
		.logo-big {
			display: none;
		}
	}
}

@media only screen and (max-width: 578px) {
	html, body {
		font-size: 14px;
	}
}
