.MyAdCampaignsPage {

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
        align-self: center;
    }

    .tv-ad-player {
        top: 11%;
        left: 8%;
        width: 81%;
        z-index: 1;
        @media @width-mobile {
            box-shadow: 0 0 5px rgba(0,0,0,0.5);
        }
    }

    h3 {
        text-transform: uppercase !important;
        font-weight: 600 !important;
    }

}