.MyAdCampaignsPage {

    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
        align-self: center;
    }

    .tv-ad-player {
        top: 7%;
        left: 5%;
        width: 88%;
        z-index: 1;
    }

    h3 {
        text-transform: uppercase !important;
        font-weight: 600 !important;
    }

}