.MyCharitiesPage {
	// TODO promote / delete / comment
	h1, h2, h3, h4 {
		font-weight: normal;
		margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
		align-self: center;
	}
}