.MyCharitiesPage {

	// TODO promote / delete / comment
    h1, h2, h3, h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        margin-bottom: 1.3rem; // Overrides Bootstrap default to separate elements.
        align-self: center;
    }

    /*
	// TODO promote / delete / comment (why can't this be done with standard BS button classes?)
    .paginator {
        .paginator-controls {
            .paginator-btn {
                color: blue;
                text-decoration: none;
                &.selected {
                    text-decoration: underline;
                }
                &.disabled {
                    color: grey;
                }
                font-size: 1.5rem;
            }
        }
    }*/

}