#getmydata {

    h1 {
        font-size: 1.3rem;
    }
    h2,h4,.miniheader {
        color: @gl-dark-turquoise;
    }
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
    }
    h5 {
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;
    }
    
    .landing {
        .mydata-topimg {
            background: linear-gradient(180deg, white 0%, @gl-light-blue 150%);
            position: relative;
            .topimg-curve {
                width: 100%;
                position: absolute;
                bottom: 0;
                z-index: 1;
            }
            .topimg-graphic {
                position: relative;
                z-index: 2;
            }
        }
        p {
            color: @gl-dark-turquoise;
            text-align: center;
            padding: 0 2rem;
        }
        a:not(.btn) {
            text-decoration: underline;
            color: @gl-red;
            font-weight: 600;
        }
    }

    .blue-gradient {
        @media @width-mobile {
            background: linear-gradient(180deg, @gl-white-blue 0%, @gl-lighter-blue 100%);
        }
    }

    .bubble-container {
        position: relative;
        .photo-bubbles {
            position: relative;
            width: 125%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .stars {
        width: 10%;
    }
    
    .community-impact {
        h1 {
            font-size: 2.7rem;
        }
        .stars-left {
            position: absolute;
            bottom: -30%;
            left: 5%;
        }
        .stars-right {
            position: absolute;
            top: -40%;
            right: 10%;
        }
        .stars-faded-left {
            position: absolute;
            opacity: 0.5;
            bottom: 10%;
            left: 0;
        }
        .stars-faded-right {
            position: absolute;
            opacity: 0.5;
            top: 0;
            right: 0;
        }
    }

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        border-radius: 10px;
    }

    #how-it-works {

        padding-bottom: 50px;
        padding: 1rem;

        .control-your-data-small {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            transform: translateY(-25%);
            h4, p {
                text-align: center;
            }
            h4 {
                color: @gl-red;
            }
            p {
                color: @gl-red;
                text-transform: capitalize;
            }
        }

        .how-it-works-section {
            position: relative;

            .bubble {
                position: absolute;
                width: 40%;

                &.bubble-right {
                    top: -10%;
                    right: -22%;
                }
                &.bubble-left {
                    top: -10%;
                    left: -15%;
                }
            }
        }

    }

    .control-your-data {
        text-align: center;
        h3, p {
            color: white;
        }
        h3 {
            font-weight: 600;
        }
    }

    .transform-your-data {
        .bubble-container {
            margin-top: -50px;
        }
        .overlap-up {
            margin-top: -100px;
        }
        .faqs {
            padding: 1rem;
            position: relative;
            .star-top {
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .card-content {
                padding-top: 0;
            }
        }
    }

}