.my-data {
    h3,h4,h5 {
        color: black !important;
        text-align: center;
    }
}

.mydata-card { // mydata-card get used outside of mydata-signup
    position: relative;
    border-radius: 10px;
    border: 1px solid @gl-darker-grey;
    overflow: hidden;

	// ??why cant this use a standard btn class??
    .more-info-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: @gl-darker-grey;
        background-color: white;
        border: 2px solid @gl-darker-grey;
        border-radius: 50%;
        overflow: hidden;
        width: 30px;
        height: 30px;
        font-weight: bold;
        text-align: center;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
        }
    }
    .more-info {
        position: absolute;
        border-radius: 10px;
        padding: 1rem;
        background: white;
        border: @gl-darker-grey;
        box-shadow: 0 2px 3px rgba(0,0,0,0.5);
        top: 60px;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        max-height: 70%;
        overflow-y: auto;
    }
    .card-content {
        padding: 1rem;
    }

    .carousel-indicators {
        li {
            width: 15px;
            height: 15px;
            background-color: #626262;
            border-radius: 50%;
            border: 1px solid grey;
            // margin-right: .5rem;
        }
        .active {
            background-color: white;
        }
    }

    .profile-created-slides {
        height: 50vh;
    }

    .speech-bubble {
        position: relative;
        background-color: white;
        margin: 5px;
        margin-top: 1em;
        padding: 2em 2.5em;
        box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            bottom: 100%;
            left: 13em; 
            border: .75rem solid transparent;
            border-top: none;

            border-bottom-color: white;
            filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
        }
    }
}

.mydata-signup {

    min-height: 90vh;

    /*.btn-primary {
        background: @gl-darker-grey !important;
        &:active:not(.disabled),&:focus:not(.disabled) {
            background: #363636 !important;
        }
        &:hover:not(.disabled) {
            background: @gl-dark-grey !important;
        }
    }*/
    
    .circle {
        border-radius: 1000px;
        overflow: hidden;
    }

    .BSCarousel {
        height: 80vh;

        .carousel-indicators li {
            width: 10px;
            height: 10px;
            border: 1px solid @gl-desat-blue;
            border-radius: 50%;
            &.active {
                background-color: @gl-desat-blue;
            }
        }
        
        .onboarding-img {
            width: 100%;
        }
    }

    .steps-graphic {
        position: relative;
        padding-bottom: 3rem;

        .step-circle {
            height: 2rem;
            width: 2rem;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
            border: 3px solid @gl-darker-grey;
            &.step-circle-active {
                background-color: @gl-darker-grey;
            }
        }

        .step-circle-connector {
            flex-grow: 1;
            border-bottom: 2px solid @gl-darker-grey;
        }

        .step-label-spacer {
            flex-grow: 1;
        }

        span {
            margin: 0;
            //position: absolute;
            //transform: translate(-50%, 0);
            //top: 2rem;
        }
    }
}

.latest-news-card {
    #latest-news-title-tab {
        min-height: 8em;
        background-image: url("/img/placeholder-circle.png");
        background-size: cover;
        background-position: center;
        background-color: grey;
    }
    #latest-news-content {
        min-height: 10em;
        padding: 1rem 0;
    }
}

.mydata-modal {
    .modal-content { // Temp forced mobile view in Desktop. Remove this after we got proper desktop version.
        max-width: 412px;
        margin: auto;
    }
}

.mydata-modal {
    @media @width-mobile {
        // Make Modal fullscreen on mobile
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100vh;
        .modal-content {
            min-height: 100vh;
        }
    }
}

.mydata-badge {
    text-decoration: none;

    position: relative;
    margin-bottom: 30px;
    circle {
        transition: stroke-dashoffset 0.35s;
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }
    .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -1;
        background-position: center;
        background-color: grey;
    }
    .plus-sign {
        position: absolute;
    }
    .notification {
        position: absolute;
        border-radius: 50%;
        background: red;
        color: white;
        .number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
        }
    }
}