.page.MyPage {
	text-align: center;
}

// These only really work as part of a thin column
.impact-card {
	text-align: left;

	.header, .sub-header {
		color: #fff;
	}

	.body-text {
		color: #000;
	}

	.impact-logo {
		height: 3.5em;
		width: auto;
	}

	.impact-image {
		width: 100%;
		max-width: 600px;
	}

	.image-and-text {
		.flex-row();

		margin: 3rem auto 3rem auto;

		> * {
			width: 50%;	
		}
	}

	.reversed-image-and-text {
		.flex-row-reverse();

		margin: 3rem auto 3rem auto;

		> * {
			width: 50%;	
		}
	}
}

.impact-logo {
	width: 100px;
	height: auto;
}

.impact-image-text {
	height: 12em !important;
}

.triangle {
	width: 100%;
	height: 5em;
	border-style: solid;
	border-width: 0 0 50px 95vw;
}

.triangle-gl-red {
	.triangle();
    border-color: transparent transparent @gl-red transparent;
}

.triangle-gl-dark-blue {
	.triangle();
    border-color: transparent transparent @gl-dark-blue transparent;	
}

.triangle-gl-blue {
	.triangle();
    border-color: transparent transparent @gl-light-blue transparent;	
}

.triangle-gl-dark-grey {
	.triangle();
    border-color: transparent transparent @gl-dark-grey transparent;	
}

.triangle-gl-light-grey {
	.triangle();
    border-color: transparent transparent @gl-light-grey transparent;	
}

// Turn checkbox in to a slider
// Prettier look for consent controls

.slider {
	// Container class .slider makes it possible to control all elements without resorting to "creative" selectors
	input {
		display: none;
		// Move slider right and change background colour if option checked
		&:checked + .slider-inner {
			background-color: @gl-red;
			.round-bit {
				right: 0;
			}
		}
	}

	.slider-inner {
		background-color: @gl-light-grey;
		position: relative;
		display: inline-block;

		width: 6rem;
		height: 2rem;
		border-radius: 5%;

		.round-bit {
			position: absolute;
			border-radius: 50%;
			width: 2rem;
			height: 2rem;
			background-color: #fff;
			right: 4rem;

			transition: right 0.5s;
		}
	}
}

.number-circle {
	border: 6px solid;
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	text-align: center;
	margin: 0 1rem;
	display: inline-flex;
	// Prevent flex from distorting the cirlce
	flex-shrink: 0;
}

.sausage-container-base {
	// Apparently can't just do 3% / 50% as less will simply resolve this to border-radius: 0.06%...
	border-top-left-radius:     3% 50%;
	border-top-right-radius:    3% 50%;
	border-bottom-right-radius: 3% 50%;
	border-bottom-left-radius:  3% 50%;
	margin: 1rem 0;
}

.sausage-container-left {
	.sausage-container-base();
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	text-align: right;
}

.sausage-container-right {
	.sausage-container-base();
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

// Defines maximum extent of content area
// Rest of window will just consist of white-space
@max-page-width: 970px;
.RedesignPage {
	// Responsive guttering
	// Use vw to keep consistent units with splash page
	width: 100%;
	max-width: @max-page-width;

	.splash.img-block {
		position: relative;
		height: 115vw;
		margin-bottom: 2rem;
	}
}

.campaign-cards {
	margin-bottom: 2rem;
}

.our-mission {
	.flex-row();
	
	padding-bottom: 2rem;

	svg {
		width: 30%;
	}

	& > div {
		width: 48%;
		// Stick text to top of div
		// flex-row should be applied to parent element
		margin-top: 0;
	}
}

// Change impact card layout from:
// *IMAGE* *TEXT*
// to
// *IMAGE*
// *TEXT*
// Former looks wonky on smaller screens 
@media only screen and (max-width: 1110px) {
	.impact-card {
		.image-and-text, .reversed-image-and-text {
			flex-direction: column;
			
			> * {
				width: 100%;
			}
		}
	}
}
