// /**
// WTF? lets clean out lots of this. BS should provide most of what we need
// */

.navbar {
	// Nicer font for the dropdown menu / login button
	#top-right-menu, .dropdown {
		.sub-header-font();
		// Reverse modal underlining because it looks nicer this way
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// We hide the "button" nature of this element, so it looks weird for it to get a button-shaped shadow
	.btn-secondary.dropdown-toggle {
		// this horrible list compiled by painful attrition
		&.focus, &:focus, &.active, &:active, &.active:focus, &:active:focus {
			box-shadow: none;
		}
	}
}