.navbar {
	background: transparent;
	transition: 0.2s;
	// Style login widget accordingly
	.login-link {
		text-shadow: none;
		font-weight: 600;
		color: #fff;
		@media @md-max {
			font-size: 0.7rem;
		}
		// !important will still not override the a ruling - so this is necessary
		& a {
			color: #fff;
			font-size: 1rem;
			@media @md-max {
				font-size: 0.7rem;
			}
			&:hover {
				text-decoration: none;
			}
		}
		text-transform: uppercase;
	}

	&.scrolled {
		background: white;
		box-shadow: 0px 0px 5px rgba(0,0,0,0.75);
		transition: 0.2s;
		.login-link {
			color: #AD2016;
			& a {
				color: #AD2016;
			}
		}
	}
}