

.tab-search-container {
    width: 50%;
    @media @width-mobile {
        width: 100%;
    }
}

.tab-search {
    color: @gl-light-red;
    &:hover {
        cursor: pointer;
        color: @gl-red;
    }
}
.tab-search-form {
    background: white;
    border: 1px solid gray;
    border-radius: 100px;
    .search input {
        margin: unset;
        width: 100%;
        border-radius: 100px;
        background: transparent;
        border: none;
        &:hover, &:focus {
            border: none;
            box-shadow: none;
        }
    }
}

.tab-charity {
    transform: scale(1);
    transition: 0.2s;
    &:hover {
        transform: scale(1.1);
        transition: 0.2s;
    }
}

.stat-card {
    .stat-content {
        box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
    }
}

.tutorial-highlight {
    // Border + shadow = glow
    border: 3px solid @gl-light-red;
    box-shadow: 0 0 10px @gl-light-red;
}

.tutorial-component.highlight * {
    z-index: 1000;
}

.onboarding {
    h1 {
		// TODO avoid/comment local font css		
        font-size: 3.5rem;
    }
    h1,h2,p {
		color: white;
        font-weight: 500;
        text-shadow: 3px 3px 6px #00000080;
    }
}

#webtop {
    h1,h2,h3,h4,h5 {
		color: white;
		// TODO avoid/comment local font css
		font-weight: 600;
        font-family: 'Montserrat', sans-serif;
    }

    .logo {
        h4 {
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}

.extension-btn {
	/* Use a brighter red vs btn-primary to stand out against the backdrop */
	background: @gl-light-red !important;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.25) !important;
	padding: 0.75rem 1rem;
	text-transform: uppercase;
	// color: white !important;
	transition: 0.2s;
	/* Why no rounding here? ask Kati */
	border-radius: 0;
	&:hover {
		background: @gl-btn-hover !important;
		box-shadow: 0px 3px 6px rgba(0,0,0,0.5) !important;
	}
}


.tab-login-widget {
    h1,h2,h3, h4 {
        text-transform: uppercase;
    }
    &.thankyou {
        h1,h2,h3,h4 {
            color: @gl-light-red !important;
        }
        text-align: center;
        padding: 50px;
    }
    .login-content {
        h1,h2,h3,h4 {
            color: @gl-light-red !important;
        }
    }
    .login-left,.login-right {
        padding-top: 20%;
    }
    .login-left {
        padding-left: 20%;
    }
    .login-right {
        padding-right: 20%;
    }
    &.flex-row-reverse {
        .login-left {
            padding-left: 0;
            padding-right: 20%;
        }
        .login-right {
            padding-right: 0;
            padding-left: 20%;
        }
    }
}

.tutorial-card {
    border-radius: 20px;
    p {
        font-size: 1.15rem;
        color: darkslategray;
    }
    h1,h2,h3,h4 {
        text-transform: uppercase;
        color: @gl-turquoise !important;
        font-size: 1.3rem;
    }
    .page-circle {
        border-radius: 50%;
        border: 2px solid @gl-light-red;
        width: 15px;
        width: 10px;
        &.selected {
            background: @gl-light-red;
        }
        &:after {
            content:"";
            display: block;
            padding-bottom: 100%;
        }
        &:hover {
            cursor:pointer;
        }
    }
    .btn {
        padding: 5px 20px;
    }
}

@keyframes circleSpin180 {
    0% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes circleSpin180Flipped {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes circleFade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.charity-register-circle {
    animation-name: circleSpin180;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.charity-register-circle-flipped {
    transform: rotate(180deg);
    animation-name: circleSpin180Flipped;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.charity-circle-img {
    animation-name: circleFade;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}