.SafariPage {
	// .safari-slideshow {
	// 	height: 37em;
	// 	@media @lg-max {height: 28em;}
	// 	@media @width-mobile {height: 27em;}
	// }

	.carousel-indicators {
		li {
			width: 15px;
			height: 15px;
			background-color: #626262;
			border-radius: 50%;
			border: 1px solid grey;
			// margin-right: .5rem;
		}
		.active {
			background-color: white;
		}
	}

	.steps-graphic {
		position: absolute;
		width: 42rem;
		transform: translate(-50%, 0);
		left: 50%;
		top: -1rem;
		padding-bottom: 3rem;

		div {margin-right: 5rem;}
		div:nth-child(6) {margin-right: 0 !important;}

		div:after {
			position: absolute;
			content: '';
			top: 1rem;
			width: 5rem;
			border-bottom: 2px solid black;
		}
		:nth-child(1):after{left: 4.5rem;}
		:nth-child(2):after{left: 11.5rem;}
		:nth-child(3):after{left: 18.5rem;}
		:nth-child(4):after{left: 25.5rem;}
		:nth-child(5):after{left: 32.5rem;}
		:nth-child(6):after{display: none;}

		.circle {
			height: 2rem;
			width: 2rem;
			background-color: white;
			border-radius: 50%;
			display: inline-block;
			border: 1px solid black;
			&.circle-active {
				background-color: @gl-light-pink;
			}
		}

		span {
			margin: 0;
			position: absolute;
			transform: translate(-50%, 0);
			top: 2rem;
		}

		#circle-step-1 {left: 3.5rem;}
		#circle-step-2 {left: 10.5rem;}
		#circle-step-3 {left: 17.5rem;}
		#circle-step-4 {left: 24.5rem;}
		#circle-step-5 {left: 31.5rem;}
		#circle-step-6 {left: 38.5rem;}
	}

	.safari-dropdown {
		position: relative;
		
		:nth-child(1) {
			opacity: 0.6;
		}

		:nth-child(2) {
			position: absolute;
			width: 28%;
			left: 43%;
		}

		.dropdown-preferences {
			left: 14%;
			width: 39%;
		}

		.new-window {
			top: 20%;
		}

		.set-homepage {
			top: 25%;
		}

		.safari-paste {
			top: 37%;
			left: 55%;
			width: 22%;
		}
	}
}