.SafariPage {
	.carousel-indicators {
		li {
			width: 15px;
			height: 15px;
			background-color: #626262;
			border-radius: 50%;
			border: 1px solid grey;
			// margin-right: .5rem;
		}
		.active {
			background-color: white;
		}
	}

	.safari-dropdown {
		position: relative;
		
		:nth-child(1) {
			opacity: 0.6;
		}

		:nth-child(2) {
			position: absolute;
			width: 28%;
			left: 43%;
		}

		.dropdown-preferences {
			left: 14%;
			width: 39%;
		}

		.new-window {
			top: 20%;
		}

		.set-homepage {
			top: 25%;
		}

		.safari-paste {
			top: 37%;
			left: 55%;
			width: 22%;
		}
	}
}