<!-- Global site tag (gtag.js) - Google Analytics Universal UA - March 2022 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-89730678-7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-89730678-7');
</script>

<!-- Global site tag (gtag.js) - Google Analytics v4 GA4 - March 2022 -->
<!-- script async src="https://www.googletagmanager.com/gtag/js?id=G-88QXE1Y448"></script -->
<!-- script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-88QXE1Y448');
</script -->

<!-- Is tag manager now included?? -->
<!-- Google Tag Manager -->
<!-- script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www..tagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KP42T43');</script -->
<!-- End Google Tag Manager -->
