default-image: https://good-loop.com/img/gl-logo/AdsForGood/AdsForGood.png
default-author: The Good-Loop Team
default-type: website
default-description: 

<!-- 
	Provide the header info for Facebook etc
 
	 See https://moz.com/blog/meta-data-templates-123

	https://dev.twitter.com/docs/cards/validation/validator
	https://developers.facebook.com/tools/debug/
 	https://developers.pinterest.com/tools/url-debugger/
 	https://developers.google.com/+/web/snippet/
 -->

 <meta property="og:title" content="$title" />
 <meta property="og:type" content="$type" />
 <!-- <meta property="og:url" content="https://good-loop.com/$metapage"/> why set this?? -->
 <meta property="og:image" content='$image' />
 <meta property="og:site_name" content="Good-Loop" />
 <meta property='og:description' content='$description' />
	
 <meta property="article:tag" content="Article Tag" />
 <meta property="article:published_time" content="$date" />
 <meta property="article:author" content="$author" />
 
 <meta name='twitter:card' content='$description'/>
 <meta name='twitter:site' content='Good-Loop'/>
 <meta name='twitter:title' content='$title'/>
 <meta name='twitter:description' content='$description'/>
 <meta name='twitter:image' content='$image'/>
 <meta name='twitter:creator' content='@goodloophq'/>
 